:host {
  position: relative;
  width: fit-content;
  display: inline-block;
}

:host(.is_child_drop) {
  display: block;
  width: 100%;
}

.dropdown {
  position: absolute;
  pointer-events: none;
  padding: 2px;
  background-color: $color-surface-1;
  border-radius: 8px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
  min-width: 240px;
  width: max-content;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: $zindex-modal;

  &__open {
    pointer-events: auto;
    opacity: 1;
  }

  &__basic {
    &__top {
      bottom: calc(100% + 16px);
    }

    &__bottom {
      top: calc(100% + 16px);
    }

    &__left {
      left: 0;
    }

    &__center {
      left: calc(50% - 122px);
    }

    &__right {
      right: 0;
    }
  }

  &__sub-menu {
    &__top {
      bottom: 0;
    }

    &__bottom {
      top: -2px;
    }

    &__left {
      left: calc(100% + 8px);
    }

    &__right {
      right: calc(100% + 8px);
    }
  }

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 8px;
    box-shadow: $color-surface-1 0px 0px 0px 2px inset;
    pointer-events: none;
  }
}

.outzone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: $zindex-modal-overlay;
}
