:host {
  position: relative;
  width: fit-content;
}

:host(.is_child_drop) {
  display: block;
  width: 100%;
}

.dropdown {
  position: absolute;
  pointer-events: none;
  padding: 2px;
  background-color: $color-surface-0;
  border-radius: 8px;
  box-shadow: $shadow-2;
  min-width: 240px;
  width: max-content;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: $zindex-modal;

  &__open {
    pointer-events: auto;
    opacity: 1;
  }

  &__basic {
    &__top-center {
      bottom: calc(100% + 16px);
      left: calc(50% - 122px);
    }
    &__top-left {
      bottom: calc(100% + 16px);
      left: 0;
    }
    &__top-right {
      bottom: calc(100% + 16px);
      right: 0;
    }
    &__bottom-center {
      top: calc(100% + 16px);
      left: calc(50% - 122px);
    }
    &__bottom-right {
      top: calc(100% + 16px);
      right: 0;
    }
    &__bottom-left {
      top: calc(100% + 16px);
      left: 0;
    }
    &__right-center {
      right: calc(100% + 8px);
    }
    &__right-top {
      right: calc(100% + 8px);
      top: 0;
    }
    &__right-bottom {
      right: calc(100% + 8px);
      bottom: 0;
    }
    &__left-center {
      left: calc(100% + 8px);
    }
    &__left-top {
      left: calc(100% + 8px);
      top: 0;
    }
    &__left-bottom {
      left: calc(100% + 8px);
      bottom: 0;
    }
  }
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 8px;
    box-shadow: $color-surface-0 0px 0px 0px 2px inset;
    pointer-events: none;
  }
}

.outzone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: $zindex-modal-overlay;
}
