@import 'resets';
@import 'mixins';

$input-padding: 8px 4px 9px 12px;
$input-padding-label: 7px 4px 8px 12px;
$input-width: 100%;

$select-options-box-shadow: 0px 2px 8px rgba(96, 123, 153, 0.3);
$select-options-radius: 8px;
$select-options-max-height: 250px;

@mixin input-text {
  font-family: $font-family;
  font-size: $fs-14;
  line-height: $line-hight-plus;
}

@mixin input-border($color, $boxShadow: false) {
  border: 1px solid $color;
  box-sizing: border-box;
  border-radius: 8px;

  @if ($boxShadow) {
    -webkit-box-shadow: 0 0 0 2px $boxShadow;
    box-shadow: 0 0 0 2px $boxShadow;
  }
}

@mixin input-theme($name, $primary, $secondary, $label, $text, $border, $hover, $focus) {
  $color-input-primary: $primary;
  $color-input-secondary: $secondary;
  $color-input-label: $label;
  $color-input-text: $text;
  $color-input-border: $border;
  $color-input-hover: $hover;
  $color-input-focus: $focus;

  @if ($name == 'disabled') {
    background: $color-surface-2;
  }

  @include input-border($color-input-border);

  // States
  &:hover {
    @include input-border($color-input-primary);

    @if ($name == 'disabled') {
      @include input-border($color-input-border);
    }
  }

  &.input--pressed {
    @include input-border($color-input-primary, $color-input-focus);
  }

  .input__container {
    padding: 4px 8px 9px;
  }

  .input__container__label {
    color: $color-input-label;

    &--pressed {
      color: $color-input-primary;
    }
  }

  .input__container__text {
    caret-color: $color-input-primary;
    color: $color-input-text;
    flex-grow: 1;
  }
}

@mixin part_input_font_size($value) {
  font-size: $value;
  line-height: 0px;
}

@mixin input_max_width() {
  &.expanded {
    max-width: $input_expanded;
  }

  &.fixed {
    max-width: $input_fixed;
  }
}

:host {
  display: block;
}

.element_input {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  input {
    box-shadow: inherit;
    &::placeholder {
      color: $color-content-ghost;
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      color: $color-content-ghost;
      opacity: 1;
    }
  }
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;

  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  background: $color-surface-1;

  &--state {
    &-primary {
      .input__icon {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-primary;
          z-index: 0;
          opacity: 50%;
          border-radius: 8px;
        }
      }
      @include input-theme(
        'primary',
        $color-primary,
        $color-surface-1,
        $color-content-default,
        $color-content-default,
        $color-border-1,
        $color-primary,
        $color-info
      );
    }

    &-danger {
      .input__icon {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-delete;
          z-index: 0;
          opacity: 50%;
          border-radius: 8px;
        }
      }
      @include input-theme(
        'danger',
        $color-delete,
        $color-error,
        $color-delete,
        $color-content-default,
        $color-delete,
        $color-delete,
        $color-error
      );
    }

    &-success {
      .input__icon {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-success;
          z-index: 0;
          border-radius: 8px;
        }
      }
      @include input-theme(
        'success',
        $color-content-default,
        $color-success,
        $color-content-default,
        $color-content-default,
        $color-border-1,
        $color-content-default,
        $color-success
      );
    }

    &-disabled {
      opacity: 50%;
      pointer-events: none;
      cursor: not-allowed;
      background: $color-surface-2;
    }
  }

  & .icon-success {
    color: $color-success;
    margin-left: 4px;
  }

  &--label {
    padding: 0;
  }

  &__icon {
    cursor: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 8px;
    padding: 2.5px;

    &--large {
      padding: 4px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__wrapper {
      display: flex;
    }

    &__wrapper__chips {
      @include custom-scroll();
      display: inline;
      max-height: 100px;
      overflow: auto;
    }

    &__label {
      display: flex;
      align-items: center;
    }

    &__text {
      @include reset-input();
      @include input-text();
      @include custom-scroll();

      resize: none;
      cursor: inherit;
    }
  }

  &__message {
    display: flex;
    align-items: baseline;
    height: 20px;
    margin: 3.7px 2.5px;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: $color-content-disable;
    word-break: break-word;
    height: auto;
    min-height: 20px;
    bds-typo {
      margin-top: 0px;
      align-self: self-start;
    }

    &__icon {
      display: flex;
      padding-right: 4px;
      margin-top: 0px;
      padding-top: 2px;
    }

    &--danger {
      .bds-icon {
        color: $color-delete;
      }
      .input__message__text {
        color: $color-delete;
      }
    }
  }
}

.select-phone-number {
  display: flex;
  border-radius: 8px;
  position: relative;
  outline: none;
  min-width: 200px;

  bds-input {
    &::part(input-container) {
      position: relative;
    }
  }

  &__icon {
    bds-icon {
      position: relative;
    }
    bds-icon:first-child {
      margin-right: 8px;
    }
    &::before {
      content: '';
      background: transparent;
      height: calc(100% - 2px);
      max-height: 54px;
      width: 70px;
      position: absolute;
      left: 1px;
      top: 1px;
      border-radius: 8px 0px 0px 8px;
    }
    &::after {
      content: '';
      position: absolute;
      inset: -4px;
      border: 2px solid transparent;
      border-radius: 4px;
      pointer-events: none;
    }
    &:focus-visible {
      outline: none;
      &::after {
        border-color: $color-focus;
      }
    }
    position: relative;
    height: 100%;
    color: $color-content-disable;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 16px;
    padding-left: 12px;
    cursor: pointer;
  }

  &__country-code {
    color: $color-content-disable;
    padding-right: 5px;
  }

  &__options {
    @include custom-scroll;

    background: $color-surface-2;
    width: 100%;
    max-height: 200px;
    position: absolute;
    top: 99%;
    left: 0;
    border-radius: $select-options-radius;
    box-shadow: $select-options-box-shadow;
    overflow-y: auto;
    z-index: 2;
    margin-top: 4px;

    transition: transform 0.25s, opacity 0.75s, visibility 0.75s;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;

    &--open {
      visibility: visible;
      transform: scale(1);
      opacity: 1;
    }
  }
  &:hover,
  &--pressed {
    .select-phone-number__icon {
      &::before {
        background: $color-surface-2;
      }
    }
  }
}
