@import 'mixins';

$select-options-box-shadow: 0px 2px 8px rgba(96, 123, 153, 0.3);
$select-options-radius: 8px;
$select-options-max-height: 250px;

:host {
  display: block;
}

.select-phone-number {
  display: flex;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  outline: none;
  min-width: 200px;

  &__icon {
    bds-icon:first-child {
      margin-right: 8px;
    }
    color: $color-neutral-medium-cloud;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 16px;
  }

  &__country-code {
    color: $color-neutral-medium-cloud;
    padding-right: 5px;
  }

  &__options {
    @include custom-scroll;

    background: $color-primary-ghost;
    width: 100%;
    max-height: 250px;
    position: absolute;
    top: 99%;
    left: 0;
    border-radius: $select-options-radius;
    box-shadow: $select-options-box-shadow;
    overflow-y: auto;
    z-index: 2;
    margin-top: 4px;

    transition: transform 0.25s, opacity 0.75s, visibility 0.75s;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;

    &--open {
      visibility: visible;
      transform: scale(1);
      opacity: 1;
    }
  }
  &:hover,
  &--pressed {
    .select-phone-number__icon {
      &::before {
        content: '';
        background: $color-neutral-light-whisper;
        width: 70px;
        height: 54px;
        position: absolute;
        left: 1px;
        top: 1px;
        border-radius: 8px 0px 0px 8px;
      }
    }
  }
}
