@import 'resets';
@import 'mixins';

:host {
  display: block;

  .actions {
    display: flex;
    gap: 8px;

    .select {
      display: block;
      position: relative;
    }

    .border-select {
      border-radius: 8px;
    }
    .border-select:hover {
      box-shadow: $color-hover;
    }
    .select_input {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 9px 4px 9px 12px;
      gap: 8px;
      flex: 1 1 0%;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      background: $color-surface-1;
      border-radius: 8px;
      border: 1px solid $color-border-1;
      box-sizing: border-box;

      bds-typo {
        min-width: 28px;
        color: $color-content-default;
      }

      bds-icon {
        color: $color-content-default;
      }
    }

    .select_input:hover {
      border-color: $color-brand;
    }

    .select__options {
      position: absolute;
      width: 100%;
      background-color: $color-surface-1;
      border-radius: 8px;
      z-index: 2;
      margin-top: 4px;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 250px;
      visibility: hidden;
      opacity: 0;

      @include custom-scroll;

      &--open {
        visibility: visible;
        opacity: 1;
      }
      &--position-top {
        bottom: calc(100% + 4px);
      }

      &--position-bottom {
        top: calc(100% + 4px);
      }

      ul {
        padding: 0;
        margin: 0;
      }
      li {
        list-style-type: none;
        cursor: pointer;
        padding: 8px;
        padding-left: 12px;
        box-sizing: border-box;
        color: $color-content-default;
      }

      li:hover {
        background-color: $color-surface-2;
      }
    }
  }
}
