.bg-color-brand { background-color: $color-brand; }
.bg-color-primary { background-color: $color-primary; }
.bg-color-secondary { background-color: $color-secondary; }
.bg-color-surface-0 { background-color: $color-surface-0; }
.bg-color-surface-1 { background-color: $color-surface-1; }
.bg-color-surface-2 { background-color: $color-surface-2; }
.bg-color-surface-3 { background-color: $color-surface-3; }
.bg-color-surface-4 { background-color: $color-surface-4; }
.bg-color-surface-positive { background-color: $color-surface-positive; }
.bg-color-surface-negative { background-color: $color-surface-negative; }
.bg-color-surface-primary { background-color: $color-surface-primary; }
.bg-color-content-default { background-color: $color-content-default; }
.bg-color-content-disable { background-color: $color-content-disable; }
.bg-color-content-ghost { background-color: $color-content-ghost; }
.bg-color-content-bright { background-color: $color-content-bright; }
.bg-color-content-din { background-color: $color-content-din; }
.bg-color-border-1 { background-color: $color-border-1; }
.bg-color-border-2 { background-color: $color-border-2; }
.bg-color-border-3 { background-color: $color-border-3; }
.bg-color-info { background-color: $color-info; }
.bg-color-system { background-color: $color-system; }
.bg-color-focus { background-color: $color-focus; }
.bg-color-success { background-color: $color-success; }
.bg-color-warning { background-color: $color-warning; }
.bg-color-error { background-color: $color-error; }
.bg-color-delete { background-color: $color-delete; }
.bg-color-shadow-0 { background-color: $color-shadow-0; }
.bg-color-shadow-1 { background-color: $color-shadow-1; }
.bg-color-hover { background-color: $color-hover; }
.bg-color-pressed { background-color: $color-pressed; }
.bg-color-positive { background-color: $color-positive; }
.bg-color-negative { background-color: $color-negative; }
.bg-color-extended-blue { background-color: $color-extended-blue; }
.bg-color-extended-blue-bright { background-color: $color-extended-blue-bright; }
.bg-color-extended-ocean { background-color: $color-extended-ocean; }
.bg-color-extended-ocean-bright { background-color: $color-extended-ocean-bright; }
.bg-color-extended-green { background-color: $color-extended-green; }
.bg-color-extended-green-bright { background-color: $color-extended-green-bright; }
.bg-color-extended-yellow { background-color: $color-extended-yellow; }
.bg-color-extended-yellow-bright { background-color: $color-extended-yellow-bright; }
.bg-color-extended-orange { background-color: $color-extended-orange; }
.bg-color-extended-orange-bright { background-color: $color-extended-orange-bright; }
.bg-color-extended-red { background-color: $color-extended-red; }
.bg-color-extended-red-bright { background-color: $color-extended-red-bright; }
.bg-color-extended-pink { background-color: $color-extended-pink; }
.bg-color-extended-pink-bright { background-color: $color-extended-pink-bright; }
.bg-color-extended-gray { background-color: $color-extended-gray; }
.bg-color-extended-gray-bright { background-color: $color-extended-gray-bright; }
