@import 'node_modules/blip-tokens/build/scss/variables.scss';

$color-brand: var(--color-brand, $color-illustration-blue-brand);
$color-primary: var(--color-primary, $color-primary-main);
$color-secondary: var(--color-secondary, $color-primary-main);
$color-surface-1: var(--color-surface-1, $color-neutral-light-snow);
$color-surface-2: var(--color-surface-2, $color-neutral-light-whisper);
$color-surface-3: var(--color-surface-3, $color-neutral-light-box);
$color-surface-4: var(--color-surface-4, $color-neutral-dark-city);
$color-content-default: var(--color-content-default, $color-neutral-dark-city);
$color-content-disable: var(--color-content-disable, $color-neutral-dark-rooftop);
$color-content-ghost: var(--color-content-ghost, $color-neutral-medium-elephant);
$color-system: var(--color-system, $color-illustration-blue-genie);
$color-info: var(--color-info, $color-illustration-blue-sky);
$color-success: var(--color-success, $color-primary-greens-mint);
$color-warning: var(--color-warning, $color-primary-yellows-corn);
$color-error: var(--color-error, $color-extend-reds-flower);
$color-delete: var(--color-delete, $color-extend-reds-delete);

// Shadows
$shadow-drop: 0 2px 8px rgba(96, 123, 153, 0.4);
$shadow-box: 0px 4px 10px rgba(51, 51, 51, 0.3);
$shadow-toast: 0px 8px 12px rgba(96, 123, 153, 0.4), 0px 0px 4px rgba(96, 123, 153, 0.3);
$light-drop: 0px 2px 8px rgba(7, 71, 166, 0.15);
$shadow-toast: 0px 8px 12px rgba(96, 123, 153, 0.4), 0px 0px 4px rgba(96, 123, 153, 0.3);

//Custom Colors
$color-secondary-undo: #485c73;
$color-secondary-redo: #485c73;
$color-facebook-main: #1877f2;
$color-facebook-dark: #1771e6;
$color-gradient-rose: linear-gradient(213.89deg, #ff4c4c 7.75%, #821a67 135.08%);
$color-gradient-phoenix: linear-gradient(213.98deg, #f6a721 7.74%, #fb5a8b 111.22%);
$color-gradient-cactus: linear-gradient(215.84deg, #bed42b 24.15%, #167491 143.37%);
$color-gradient-tree: linear-gradient(213.19deg, #21cc79 26.38%, #167491 113.59%);
$color-gradient-ocean: linear-gradient(206.67deg, #4786f1 25.46%, #4f0e87 187.1%);
$color-gradient-smurf: linear-gradient(213.61deg, #00c6d7 26.39%, #4786f1 100%);
$color-gradient-grape: linear-gradient(214.56deg, #c226fb 0%, #0052cc 174.21%);
$color-gradient-fabulous: linear-gradient(212.75deg, #fb5a8b 37.1%, #9933cc 171.27%);
$color-gradient-street: linear-gradient(213.69deg, #6e7b91 25.43%, #233049 147.21%);
$color-gradient-universe: linear-gradient(213.69deg, #202c44 25.43%, #000000 147.21%);
