/*
* Percentages for component expansion
* For percentage 0, a default value of 140px was defined
*/

$exp_0: 140px;
$exp_10:10%;
$exp_20:20%;
$exp_30:30%;
$exp_40:40%;
$exp_50:50%;
$exp_60:60%;
$exp_70:70%;
$exp_80:80%;
$exp_90:90%;
$exp_100:100%;