.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    &-fluid {
        width: 100%;
        margin: 0;
    }

    &-xxs {
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
      }
      &-xs {
        max-width: 100%;
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;
      }
      &-sm {
        max-width: 848px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
      }
      &-md {
        max-width: 944px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
      }
      &-lg {
        max-width: 1328px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
      }
      &-xg {
        max-width: 1520px;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
      }
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-content {

    &-start {
        justify-content: flex-start;
    }

    &-end {
        justify-content: flex-end;
    }

    &-center {
        justify-content: center;
    }

    &-between {
        justify-content: space-between;
    }

    &-around {
        justify-content: space-around;
    }

    &-evenly {
        justify-content: space-evenly;
    }
}

.align-items {

    &-start {
        align-items: flex-start;
    }

    &-end {
        align-items: flex-end;
    }

    &-center {
        align-items: center;
    }

    &-baseline {
        align-items: baseline;
    }

    &-stretch {
        align-items: stretch;
    }
}

.align-self {

    &-start {
        align-self: flex-start;
    }

    &-end {
        align-self: flex-end;
    }

    &-center {
        align-self: center;
    }

    &-baseline {
        align-self: baseline;
    }

    &-stretch {
        align-self: stretch;
    }
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33%;
}
.col-2 {
    flex: 0 0 auto;
    width: 16.66%;
}
.col-3 {
    flex: 0 0 auto;
    width: 24.99%;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.32%;
}
.col-5 {
    flex: 0 0 auto;
    width: 41.65%;
}
.col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-7 {
    flex: 0 0 auto;
    width: 58.33%;
}
.col-8 {
    flex: 0 0 auto;
    width: 66.66%;
}
.col-9 {
    flex: 0 0 auto;
    width: 74.99%;
}
.col-10 {
    flex: 0 0 auto;
    width: 83.32%;
}
.col-11 {
    flex: 0 0 auto;
    width: 91.65%;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}