.color-brand { color: $color-brand; }
.color-primary { color: $color-primary; }
.color-secondary { color: $color-secondary; }
.color-surface-0 { color: $color-surface-0; }
.color-surface-1 { color: $color-surface-1; }
.color-surface-2 { color: $color-surface-2; }
.color-surface-3 { color: $color-surface-3; }
.color-surface-4 { color: $color-surface-4; }
.color-surface-positive { color: $color-surface-positive; }
.color-surface-negative { color: $color-surface-negative; }
.color-surface-primary { color: $color-surface-primary; }
.color-content-default { color: $color-content-default; }
.color-content-disable { color: $color-content-disable; }
.color-content-ghost { color: $color-content-ghost; }
.color-content-bright { color: $color-content-bright; }
.color-content-din { color: $color-content-din; }
.color-info { color: $color-info; }
.color-system { color: $color-system; }
.color-focus { color: $color-focus; }
.color-success { color: $color-success; }
.color-warning { color: $color-warning; }
.color-error { color: $color-error; }
.color-delete { color: $color-delete; }
.color-positive { color: $color-positive; }
.color-negative { color: $color-negative; }
.color-extended-blue { color: $color-extended-blue; }
.color-extended-blue-bright { color: $color-extended-blue-bright; }
.color-extended-ocean { color: $color-extended-ocean; }
.color-extended-ocean-bright { color: $color-extended-ocean-bright; }
.color-extended-green { color: $color-extended-green; }
.color-extended-green-bright { color: $color-extended-green-bright; }
.color-extended-yellow { color: $color-extended-yellow; }
.color-extended-yellow-bright { color: $color-extended-yellow-bright; }
.color-extended-orange { color: $color-extended-orange; }
.color-extended-orange-bright { color: $color-extended-orange-bright; }
.color-extended-red { color: $color-extended-red; }
.color-extended-red-bright { color: $color-extended-red-bright; }
.color-extended-pink { color: $color-extended-pink; }
.color-extended-pink-bright { color: $color-extended-pink-bright; }
.color-extended-gray { color: $color-extended-gray; }
.color-extended-gray-bright { color: $color-extended-gray-bright; }