:export {
  /**
  * Primary Colors
  * Nossa paleta principal é composta por tons de azul que rementem diretamente as cores da marca,
  * essas cores estão presentes na maioria dos pontos de contato, do marketing ao produto como também por toda a plataforma.
  */
  color-primary-main: $color-primary-main;
  color-primary-light: $color-primary-light;
  color-primary-dark: $color-primary-dark;
  color-primary-ghost: $color-primary-ghost;

  /**
  * Secondary Colors
  * A paleta secundária é composta de vermelho, amarelo, verde e roxo. Cada cor é selecionada com o objetivo de fornecer feedback significativo em nossos produtos.
  */
  color-secondary-delete: $color-secondary-delete;
  color-secondary-cheetos: $color-secondary-cheetos;
  color-secondary-true: $color-secondary-true;

  /**
  * Neutral Colors
  * Os neutros têm graus variados de saturação. Normalmente, eles são usados ​​para texto e fundos sutis
  * quando não queremos chamar muita atenção para um ponto de contato específico ou transmitir informações como "a fazer" ou "desativado".
  */

  // Disabled Blues
  color-neutral-disabled-blues-text: $color-neutral-disabled-blues-text;
  color-neutral-disabled-blues-bg: $color-neutral-disabled-blues-bg;

  // Dark neutrals
  color-neutral-dark-onix: $color-neutral-dark-onix;
  color-neutral-dark-suit: $color-neutral-dark-suit;
  color-neutral-dark-city: $color-neutral-dark-city;
  color-neutral-dark-rooftop: $color-neutral-dark-rooftop;

  // Medium neutrals
  color-neutral-medium-desk: $color-neutral-medium-desk;
  color-neutral-medium-cloud: $color-neutral-medium-cloud;
  color-neutral-medium-silver: $color-neutral-medium-silver;

  // Light neutrals
  color-neutral-light-wave: $color-neutral-light-wave;
  color-neutral-light-off: $color-neutral-light-off;
  color-neutral-light-breeze: $color-neutral-light-breeze;
  color-neutral-light-whisper: $color-neutral-light-whisper;

  /**
  * Extended colors
  * As cores estendidas são todos os tons de cores utilizáveis ​​na plataforma. O uso dessas cores varia de acordo com o ponto de
  * contato, mas são úteis para ilustrações e componentes no produto.
  */

  // Vermelhos / Rosas
  color-extended-rr-b-vitamin: $color-extended-rr-b-vitamin;
  color-extended-rr-flower: $color-extended-rr-flower;
  color-extended-rr-lipstick: $color-extended-rr-lipstick;
  color-extended-rr-dragon: $color-extended-rr-dragon;
  color-extended-rr-ballet: $color-extended-rr-ballet;
  color-extended-rr-yogurt: $color-extended-rr-yogurt;
  color-extended-rr-watermelon: $color-extended-rr-watermelon;
  color-extended-rr-blush: $color-extended-rr-blush;

  // Amarelos / Laranjas
  color-extended-yo-fairy: $color-extended-yo-fairy;
  color-extended-yo-d-vitamin: $color-extended-yo-d-vitamin;
  color-extended-yo-melon: $color-extended-yo-melon;
  color-extended-yo-hay: $color-extended-yo-hay;
  color-extended-yo-sand: $color-extended-yo-sand;
  color-extended-yo-c-vitamin: $color-extended-yo-c-vitamin;
  color-extended-yo-sphinx: $color-extended-yo-sphinx;
  color-extended-yo-moose: $color-extended-yo-moose;
  color-extended-yo-summer: $color-extended-yo-summer;
  color-extended-yo-doritos: $color-extended-yo-doritos;
  color-extended-yo-carrot: $color-extended-yo-carrot;

  // Verdes
  color-extended-green-chameleon: $color-extended-green-chameleon;
  color-extended-green-mint: $color-extended-green-mint;
  color-extended-green-corn: $color-extended-green-corn;
  color-extended-green-asparagus: $color-extended-green-asparagus;
  color-extended-green-bamboo: $color-extended-green-bamboo;
  color-extended-green-lime: $color-extended-green-lime;
  color-extended-green-leaf: $color-extended-green-leaf;
  color-extended-green-algae: $color-extended-green-algae;

  // Azuis
  color-extended-blue-sky: $color-extended-blue-sky;
  color-extended-blue-wind: $color-extended-blue-wind;
  color-extended-blue-mermaid: $color-extended-blue-mermaid;
  color-extended-blue-galaxy: $color-extended-blue-galaxy;

  color-extended-blue-ice: $color-extended-blue-ice;
  color-extended-blue-frozen: $color-extended-blue-frozen;
  color-extended-blue-smurf: $color-extended-blue-smurf;
  color-extended-blue-whale: $color-extended-blue-whale;

  color-extended-blue-genie: $color-extended-blue-genie;
  color-extended-blue-unicorn: $color-extended-blue-unicorn;
  color-extended-blue-sea: $color-extended-blue-sea;
  color-extended-blue-jazz: $color-extended-blue-jazz;

  // Roxos
  color-extended-purples-eggplant: $color-extended-purples-eggplant;
  color-extended-purples-pixie: $color-extended-purples-pixie;
  color-extended-purples-witch: $color-extended-purples-witch;
  color-extended-purples-grape: $color-extended-purples-grape;
  color-extended-purples-violet: $color-extended-purples-violet;
  color-extended-purples-wine: $color-extended-purples-wine;
  color-extended-purples-acai: $color-extended-purples-acai;

  // Gradients
  color-gradient-universe: $color-gradient-universe;
  color-gradient-street: $color-gradient-street;
  color-gradient-chair: $color-gradient-chair;
  color-gradient-shine: $color-gradient-shine;
  color-gradient-dg-blip-system: $color-gradient-dg-blip-system;
  color-gradient-error: $color-gradient-error;
  color-gradient-phoenix: $color-gradient-phoenix;
  color-gradient-success: $color-gradient-success;
  color-gradient-jeans: $color-gradient-jeans;
  color-gradient-ocean: $color-gradient-ocean;
  color-gradient-smurfette: $color-gradient-smurfette;
}
