.calendarSingle {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__selectMonth {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 8px;

    &__typo {
      color: $color-primary-main;
    }

    &__icon {
      cursor: pointer;
      color: $color-neutral-dark-rooftop;
    }

    & .arrow-left {
      padding-left: 8px;
    }

    & .arrow-right {
      padding-right: 8px;
    }
  }

  &__week {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    &__day {
      width: 40px;
      height: 40px;
      padding: 4px;
      text-align: center;
      color: $color-neutral-dark-rooftop;
    }
  }

  &__car {
    height: 288px;
    width: 336px;
    overflow: hidden;
    position: relative;

    &__slide {
      display: flex;
      position: absolute;
      left: -100%;

      &__box {
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        &__day {
          width: 40px;
          height: 40px;
          padding: 4px;

          &__typo {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            color: $color-neutral-dark-rooftop;
            border: 1px solid transparent;
            cursor: pointer;

            &:hover {
              background-color: transparent;
              color: $color-primary-main;
              border-color: $color-primary-main;
            }
          }

          &__current {
            background-color: $color-disabled-bg;
            color: $color-primary-night;
            border-color: $color-disabled-bg;
          }

          &__selected {
            background-color: $color-primary-dark;
            color: $color-neutral-light-snow;
            border-color: $color-primary-dark;

            &:hover {
              background-color: $color-primary-dark;
              color: $color-neutral-light-snow;
              border-color: $color-primary-dark;
            }
          }
          
          &__disable {
            pointer-events: none;
            background-color: transparent;
            color: $color-neutral-medium-cloud;
          }
        }
      }
    }

    .animate__prev {
      animation-name: animationPrev;
      animation-duration: 0.31s;
      animation-timing-function: ease-in-out;
    }
    .animate__next {
      animation-name: animationNext;
      animation-duration: 0.31s;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes animationPrev {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes animationNext {
  0% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}
