@use '../../globals/helpers' as *;

$input-padding: 8px 4px 9px 12px;
$input-padding-label: 7px 4px 8px 12px;
$input-width: 100%;
$select-options-box-shadow: 0px 2px 8px rgba(96, 123, 153, 0.3);
$select-options-radius: 8px;
$select-options-max-height: 250px;

@mixin input-text {
  font-family: $font-family;
  font-size: $fs-14;
  line-height: $line-hight-plus;
}

@mixin input-border($color, $boxShadow: false) {
  border: 1px solid $color;
  box-sizing: border-box;
  border-radius: 8px;

  @if ($boxShadow) {
    -webkit-box-shadow: 0 0 0 2px $boxShadow;
    box-shadow: 0 0 0 2px $boxShadow;
  }
}

@mixin input-theme($name, $primary, $secondary, $label, $text, $border, $hover, $focus) {
  $color-input-primary: $primary;
  $color-input-secondary: $secondary;
  $color-input-label: $label;
  $color-input-text: $text;
  $color-input-border: $border;
  $color-input-hover: $hover;
  $color-input-focus: $focus;

  @include input-border($color-input-border);

  // States
  &:hover {
    @include input-border($color-input-primary);

    @if ($name == 'disabled') {
      @include input-border($color-input-border);
    }
  }

  &.input--pressed {
    @include input-border($color-input-primary, $color-input-focus);
    .input__icon {
      .bds-icon {
        color: $color-input-primary;
      }
    }
  }

  .input__container__label {
    color: $color-input-label;

    &--pressed {
      bds-typo {
        color: $color-input-primary;
      }
    }
  }

  .input__container__text {
    caret-color: $color-input-primary;
    color: $color-input-text;
  }
  .input__container__text:placeholder-shown {
    color: $color-content-ghost;
  }
}

:host {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  input,
  textarea {
    box-shadow: inherit;
    &::placeholder {
      color: $color-content-ghost;
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      color: $color-content-ghost;
      opacity: 1;
    }
  }
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $input-padding;
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  .bds-icon {
    position: relative;
    z-index: 1;
  }

  &--state {
    &-primary {
      .input__icon {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-hover;
          z-index: 0;
          border-radius: 8px;
        }
      }
      @include input-theme(
        'primary',
        $color-primary,
        $color-surface-1,
        $color-content-default,
        $color-content-default,
        $color-border-1,
        $color-primary,
        $color-info
      );
    }

    &-danger {
      .input__icon {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-surface-negative;
          z-index: 0;
          opacity: 50%;
          border-radius: 8px;
        }
      }
      @include input-theme(
        'danger',
        $color-negative,
        $color-error,
        $color-delete,
        $color-content-default,
        $color-delete,
        $color-delete,
        $color-error
      );
    }

    &-success {
      .input__icon {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-surface-positive;
          z-index: 0;
          border-radius: 8px;
        }
      }
      @include input-theme(
        'success',
        $color-positive,
        $color-success,
        $color-content-default,
        $color-content-default,
        $color-border-1,
        $color-content-default,
        $color-success
      );
    }

    &-disabled {
      .input__icon {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-hover;
          z-index: 0;
          opacity: 50%;
          border-radius: 8px;
        }
      }
      opacity: 50%;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  & .icon-success {
    color: $color-positive;
    margin-left: 4px;
  }

  &--label {
    padding: $input-padding-label;
  }

  &__icon {
    cursor: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 8px;
    padding: 2.5px;

    &--large {
      padding: 4px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__wrapper__chips {
      @include custom-scroll();
      display: inline;
      max-height: 100px;
      overflow: auto;
    }

    &__label {
      display: flex;
      align-items: center;
    }

    &__text {
      @include reset-input();
      @include input-text();
      @include custom-scroll();

      resize: none;
      cursor: inherit;
    }
    &__text::placeholder {
      color: $color-content-ghost;
    }
  }

  &__message {
    display: flex;
    align-items: baseline;
    height: 20px;
    margin: 3.7px 2.5px;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: $color-content-disable;
    word-break: break-word;
    height: auto;
    min-height: 20px;
    bds-typo {
      margin-top: 0px;
      align-self: self-start;
    }

    &__icon {
      display: flex;
      padding-right: 4px;
      margin-top: 0px;
      padding-top: 2px;
    }

    &--danger {
      .bds-icon {
        color: $color-negative;
      }
      .input__message__text {
        color: $color-negative;
      }
    }
    &--success {
      .input__message__icon {
        .bds-icon {
          color: $color-positive;
        }
      }
      .input__message__text {
        color: $color-content-default;
      }
    }
  }
}

.input__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  &__label {
    display: flex;
    align-items: center;
  }
  &__text::placeholder {
    color: $color-content-ghost;
  }
}

.input__container__wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;

  .inside-input-left {
    display: inline;
  }
}

.input__container__text {
  @include reset-input();
  @include input-text();
  width: 100%;
  resize: none;
  cursor: inherit;
  flex-shrink: 99999;

  &__chips {
    width: auto;
    min-width: 216px;
    max-width: 216px;
  }
}

:host {
  display: block;
}

.select {
  position: relative;
  outline: none;
  overflow: hidden;

  &__icon {
    color: $color-content-ghost;
    display: flex;

    bds-icon {
      margin-left: 10px;
    }
  }

  .icon-hidden {
    visibility: hidden;
  }

  &__options {
    display: grid;
    @include custom-scroll;

    background: $color-surface-0;
    width: 100%;
    max-height: 200px;
    height: fit-content;
    position: absolute;
    left: 0;
    border-radius: $select-options-radius;
    box-shadow: $shadow-3;
    overflow-y: auto;
    z-index: 2;
    pointer-events: none;
    opacity: 0;

    ::slotted(*) {
      display: flex;
      flex-flow: column;
    }

    .selection-title {
      order: -2;
      width: 100%;
      padding: 8px 16px;
      box-sizing: border-box;
    }

    .select-all {
      order: -3;
      padding: 8px 8px 8px 12px;
      box-sizing: border-box;
      display: flex;
      gap: 8px;
      align-items: center;
      outline: none;
      flex-direction: row;
    }

    .content-divisor {
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color-surface-1;

      .divisor {
        display: block;
        margin: 0 16px;
        height: 1px;
        background-color: $color-border-2;
      }
    }

    .load-spinner {
      background-color: $color-surface-1;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--open {
      opacity: 1;
      pointer-events: auto;
    }

    &--position-top {
      bottom: calc(100% + 4px);
    }

    &--position-bottom {
      top: calc(100% + 4px);
    }

    .options-checked {
      order: -1;
    }
  }
}
