@use '../../globals/helpers' as *;

:host {
  display: block;
}

.progress_bar {
  box-sizing: border-box;
  position: relative;
  border-radius: 32px;
  border: 1px solid $color-content-disable;
  margin-bottom: 4px;

  &.size_small {
    height: 8px;
    .bar_behind {
      & .progress {
        border-radius: 1px;
      }
    }
  }

  &.size_default {
    height: 16px;
    .bar_behind {
      & .progress {
        border-radius: 2px;
      }
    }
  }

  .bar_behind {
    position: absolute;
    inset: 0.5px 1px 1px 0.5px;
    border-radius: 16px;
    overflow: hidden;

    & .progress {
      position: absolute;
      height: 100%;
      @include animation();
      overflow: hidden;

      &.color {
        &_default {
          background-color: $color-extended-blue;
        }
        &_positive {
          background-color: $color-extended-green;
        }
        &_information {
          background-color: $color-extended-yellow;
        }
        &_warning {
          background-color: $color-extended-red;
        }
      }

      & .loading {
        position: absolute;
        left: -16px;
        width: calc(100% + 16px);
        height: 100%;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0) 75%,
          rgba(0, 0, 0, 0.26) 75%
        );
        background-size: 4px;
        transform: skewX(-15deg);
        animation-name: load;
        animation-timing-function: linear;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
      }
    }
  }
}

.typo_progress {
  color: $color-content-default;
}

@keyframes load {
  from {
    left: -16px;
  }
  to {
    left: 0;
  }
}
