@import 'resets';
@import 'mixins';

$input-padding: 8px 4px 9px 12px;
$input-padding-label: 7px 4px 8px 12px;
$input-width: 100%;

@mixin input-text {
  font-family: $font-family;
  font-size: $fs-14;
  line-height: $line-hight-plus;
}

@mixin input-border($color, $boxShadow: false) {
  border: 1px solid $color;
  box-sizing: border-box;
  border-radius: 8px;

  @if ($boxShadow) {
    -webkit-box-shadow: 0 0 0 2px $boxShadow;
    box-shadow: 0 0 0 2px $boxShadow;
  }
}

@mixin input-theme($name, $primary, $secondary, $label, $text, $border, $hover, $focus) {
  $color-input-primary: $primary;
  $color-input-secondary: $secondary;
  $color-input-label: $label;
  $color-input-text: $text;
  $color-input-border: $border;
  $color-input-hover: $hover;
  $color-input-focus: $focus;

  @if ($name == 'disabled') {
    background: $color-surface-2;
  }

  @include input-border($color-input-border);

  // States
  &:hover {
    @include input-border($color-input-primary);

    @if ($name == 'disabled') {
      @include input-border($color-input-border);
    }
  }

  &.input--pressed {
    @include input-border($color-input-primary, $color-input-focus);
  }

  .input__container__label {
    color: $color-input-label;

    &--pressed {
      color: $color-input-primary;
    }
  }

  .input__container__text {
    caret-color: $color-input-primary;
    color: $color-input-text;
  }
}

:host {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  input,
  textarea {
    box-shadow: inherit;
    &::placeholder {
      color: $color-content-ghost;
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      color: $color-content-ghost;
      opacity: 1;
    }
  }
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $input-padding;

  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  background: $color-surface-1;

  &--state {
    &-primary {
      .input__icon {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-primary;
          z-index: 0;
          opacity: 50%;
          border-radius: 8px;
        }
      }
      @include input-theme(
        'primary',
        $color-primary,
        $color-surface-1,
        $color-content-default,
        $color-content-default,
        $color-border-1,
        $color-primary,
        $color-info
      );
    }

    &-danger {
      .input__icon {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-delete;
          z-index: 0;
          opacity: 50%;
          border-radius: 8px;
        }
      }
      @include input-theme(
        'danger',
        $color-delete,
        $color-error,
        $color-delete,
        $color-content-default,
        $color-delete,
        $color-delete,
        $color-error
      );
    }

    &-success {
      .input__icon {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-success;
          z-index: 0;
          border-radius: 8px;
        }
      }
      @include input-theme(
        'success',
        $color-content-default,
        $color-success,
        $color-content-default,
        $color-content-default,
        $color-border-1,
        $color-content-default,
        $color-success
      );
    }

    &-disabled {
      .input__icon {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-primary;
          z-index: 0;
          opacity: 50%;
          border-radius: 8px;
        }
      }
      opacity: 50%;
      pointer-events: none;
      cursor: not-allowed;
      background: $color-surface-2;
    }
  }

  & .icon-success {
    color: $color-positive;
    margin-left: 4px;
  }

  &--label {
    padding: $input-padding-label;
  }

  &__icon {
    cursor: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 8px;
    padding: 2.5px;

    &--large {
      padding: 4px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__wrapper__chips {
      @include custom-scroll();
      display: inline;
      max-height: 100px;
      overflow: auto;
    }

    &__label {
      display: flex;
      align-items: center;
    }

    &__text {
      @include reset-input();
      @include input-text();
      @include custom-scroll();

      resize: none;
      cursor: inherit;

      &[type="date"] {
        &::-webkit-calendar-picker-indicator {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }

  &__message {
    display: flex;
    align-items: baseline;
    height: 20px;
    margin: 3.7px 2.5px;
    gap: 4px;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: $color-content-disable;
    word-break: break-word;
    height: auto;
    min-height: 20px;
    bds-typo {
      margin-top: 0px;
      align-self: self-start;
    }

    &__icon {
      display: flex;
      margin-top: 0px;
    }

    &--danger {
      .input__message__icon {
        .bds-icon {
          color: $color-delete;
        }
      }
      .input__message__text {
        color: $color-delete;
      }
    }
    &--success {
      .input__message__icon {
        .bds-icon {
          color: $color-positive;
        }
      }
      .input__message__text {
        color: $color-positive;
      }
    }
  }
}

.input__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  &__label {
    display: flex;
    align-items: center;
  }
}

.input__container__wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.input__container__text {
  @include reset-input();
  @include input-text();
  width: 100%;
  resize: none;
  cursor: inherit;

  &__chips {
    width: auto;
    min-width: 216px;
    max-width: 216px;
  }
}
