@import "resets";

$input-padding: 8px 8px 9px 12px;
$input-padding-label: 7px 8px 8px 12px;
$input-width: 100%;

@mixin input-text {
  font-family: $font-family;
  font-size: $fs-14;
  line-height: $line-hight-plus;
}

@mixin input-border($color, $boxShadow: false) {
  border: 1px solid $color;
  box-sizing: border-box;
  border-radius: 8px;

  @if ($boxShadow) {
    -webkit-box-shadow: 0 0 0 2px $boxShadow;
    box-shadow: 0 0 0 2px $boxShadow;
  }
}

@mixin input-theme(
  $name,
  $primary,
  $secondary,
  $label,
  $text,
  $border,
  $hover,
  $focus
) {
  $color-input-primary: $primary;
  $color-input-secondary: $secondary;
  $color-input-label: $label;
  $color-input-text: $text;
  $color-input-border: $border;
  $color-input-hover: $hover;
  $color-input-focus: $focus;
  $color-input-disable-background: $color-neutral-light-whisper;

  @include input-border($color-input-border);

  @if ($name == "disabled") {
    background: $color-input-disable-background;
  }

  // States
  &:hover {
    @include input-border($color-input-primary);

    @if ($name == "disabled") {
      @include input-border($color-input-border);
    }
  }

  &.input--pressed {
    @include input-border($color-input-primary, $color-input-focus);
  }

  .input__icon {
    color: $color-input-primary;
    background-color: $color-input-secondary;
  }

  .input__container__label {
    color: $color-input-label;

    &--pressed {
      color: $color-input-primary;
    }
  }

  .input__container__text {
    caret-color: $color-input-primary;
    color: $color-input-text;
  }
}

@mixin custom-scroll() {
  &::-webkit-scrollbar-track {
    border-left: 1px solid $color-neutral-light-breeze;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;

    border: 4px solid transparent;
    border-radius: 10px;
    background-clip: content-box;

    background-color: $color-neutral-medium-silver;
  }
}

:host {
  display: flex;
  position: relative;
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $input-padding;

  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  background: $color-snow-white;

  &--state {
    &-primary {
      @include input-theme(
        "primary",
        $color-primary-main,
        $color-neutral-disabled-blues-bg,
        $color-neutral-medium-cloud,
        $color-neutral-dark-city,
        $color-neutral-light-wave,
        $color-primary-main,
        $color-extended-blue-wind
      );
    }

    &-danger {
      @include input-theme(
        "danger",
        $color-secondary-delete,
        $color-extend-rr-b-vitamin,
        $color-neutral-medium-cloud,
        $color-neutral-dark-city,
        $color-secondary-delete,
        $color-secondary-delete,
        $color-extend-rr-flower
      );
    }

    &-disabled {
      cursor: not-allowed;
      @include input-theme(
        "disabled",
        $color-neutral-medium-silver,
        $color-neutral-light-breeze,
        $color-neutral-medium-silver,
        $color-neutral-medium-silver,
        $color-neutral-light-off,
        $color-neutral-medium-silver,
        $color-neutral-light-off
      );
    }
  }

  &--label {
    padding: $input-padding-label;
  }

  &__icon {
    cursor: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 8px;
    padding: 2.5px;

    &--large {
      padding: 4px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__label {
      display: flex;
      align-items: center;
    }

    &__text {
      @include reset-input();
      @include input-text();
      @include custom-scroll();

      resize: none;
      cursor: inherit;
    }
  }

  &__message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    left: 0px;
    position: absolute;
    bottom: -22px;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: $color-neutral-medium-cloud;

    &__icon {
      display: flex;
      padding-right: 4px;
    }

    &--danger {
      color: $color-secondary-delete;
    }
  }
}
