.alert__header {
  width: 100%;
  min-height: 64px;
  padding: 12px 16px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;

  bds-icon {
    min-width: 32px;
  }

  bds-typo {
    margin-left: 8px;
    color: $color-content-din;
  }

  &--system {
    background: $color-system;

    bds-typo {
      color: $color-content-default;
    }

    .color-icon {
      color: $color-content-default;
    }
  }

  &--error {
    background: $color-error;
    bds-typo {
      color: $color-content-default;
    }
    
    .color-icon {
      color: $color-content-default;
    }
  }

  &--warning {
    background: $color-warning;
    bds-typo {
      color: $color-content-default;
    }
    
    .color-icon {
      color: $color-content-default;
    }
  }

  &--delete {
    background: $color-delete;

    bds-typo {
      color: $color-content-bright;
    }

    .color-icon {
      color: $color-content-bright;
    }
  }
}
