# Esses proprietários serão os proprietários padrão para tudo no
# repositório. A menos que uma correspondência posterior tenha precedência,
# @WillianLomeu, @LucasMurtaTakeBlip e @vinioo serão solicitados para
# revisão quando alguém abrir uma pull request.
*       @WillianLomeu @vinioo @LucasMurtaTakeBlip
