@import 'resets';
@import 'mixins';

$input-padding: 10px 4px 10px 12px;
$input-padding-label: 7px 4px 7px 12px;
$input-width: 100%;
$input_expanded: 100%;
$input_fixed: 140px;
$select-options-box-shadow: 0px 2px 8px rgba(96, 123, 153, 0.3);
$select-options-radius: 8px;
$select-options-max-height: 250px;

:host {
  display: block;
}

@mixin input-text {
  font-family: $font-family;
  font-size: $fs-14;
  line-height: $line-hight-plus;
}

@mixin input-border($color, $boxShadow: false) {
  border: 1px solid $color;
  box-sizing: border-box;
  border-radius: 8px;

  @if ($boxShadow) {
    -webkit-box-shadow: 0 0 0 2px $boxShadow;
    box-shadow: 0 0 0 2px $boxShadow;
  }
}

@mixin input-theme($name, $primary, $secondary, $label, $text, $border, $hover, $focus) {
  $color-input-primary: $primary;
  $color-input-secondary: $secondary;
  $color-input-label: $label;
  $color-input-text: $text;
  $color-input-border: $border;
  $color-input-hover: $hover;
  $color-input-focus: $focus;

  @if ($name == 'disabled') {
    background: $color-surface-2;
  }

  @include input-border($color-input-border);

  // States
  &:hover {
    @include input-border($color-input-primary);

    @if ($name == 'disabled') {
      @include input-border($color-input-border);
    }
  }

  &.input--pressed {
    @include input-border($color-input-primary, $color-input-focus);
  }

  .input__icon {
    color: $color-input-primary;
    background-color: $color-input-secondary;
  }

  .input__container__label {
    color: $color-input-label;

    &--pressed {
      color: $color-input-primary;
    }
  }

  .input__container__text {
    caret-color: $color-input-primary;
    color: $color-input-text;
  }
}

@mixin part_input_font_size($value) {
  font-size: $value;
  line-height: 0px;
}

@mixin input_max_width() {
  &.expanded {
    max-width: $input_expanded;
  }

  &.fixed {
    max-width: $input_fixed;
  }
}

.element_input {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  input {
    box-shadow: inherit;
    &::placeholder {
      color: $color-content-ghost;
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      color: $color-content-ghost;
      opacity: 1;
    }
  }
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $input-padding;

  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  background: $color-surface-1;

  &--state {
    &-primary {
      @include input-theme(
        'primary',
        $color-primary,
        $color-surface-3,
        $color-content-default,
        $color-content-default,
        $color-border-1,
        $color-primary,
        $color-info
      );
    }

    &-danger {
      @include input-theme(
        'danger',
        $color-delete,
        $color-error,
        $color-delete,
        $color-delete,
        $color-delete,
        $color-delete,
        $color-error
      );
    }

    &-disabled {
      opacity: 50%;
      pointer-events: none;
      cursor: not-allowed;
      @include input-theme(
        'disabled',
        $color-primary,
        $color-surface-3,
        $color-content-default,
        $color-content-default,
        $color-border-1,
        $color-primary,
        $color-info
      );
    }
  }

  &--label {
    padding: $input-padding-label;
  }

  &__icon {
    cursor: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 8px;
    padding: 2.5px;

    &--large {
      padding: 4px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__wrapper__chips {
      @include custom-scroll();
      display: inline;
      max-height: 100px;
      overflow: auto;
    }

    &__label {
      display: flex;
      align-items: center;
    }

    &__text {
      @include reset-input();
      @include input-text();
      @include custom-scroll();
      width: 100%;

      resize: none;
      cursor: inherit;
    }
  }

  &__message {
    display: flex;
    align-items: baseline;
    height: 20px;
    margin: 3.7px 2.5px;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: $color-content-ghost;
    word-break: break-word;
    height: auto;
    min-height: 20px;
    bds-typo {
      margin-top: 0px;
      align-self: self-start;
    }

    &__icon {
      display: flex;
      padding-right: 4px;
      margin-top: 0px;
      padding-top: 2px;
    }

    &--danger {
      .bds-icon {
        color: $color-delete;
      }
      .input__message__text {
        color: $color-delete;
      }
    }
  }
}

.select {
  position: relative;
  outline: none;

  & .element_input {
    overflow: hidden;
  }

  &__icon {
    color: $color-content-ghost;
    display: flex;
  }

  &__options {
    @include custom-scroll;

    background: $color-surface-2;
    width: 100%;
    max-height: 250px;
    position: absolute;
    left: 0;
    border-radius: $select-options-radius;
    box-shadow: $select-options-box-shadow;
    overflow-y: auto;
    z-index: 2;
    pointer-events: none;
    opacity: 0;

    box-shadow: 0px 2px 12px $shadow-drop;

    &--open {
      opacity: 1;
      pointer-events: auto;
    }

    &--position-top {
      bottom: calc(100% + 4px);
    }

    &--position-bottom {
      top: calc(100% + 4px);
    }
  }
}

.inside-input-left {
  display: inline-flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-right: 8px;
}
.input-chips__chip {
  margin: 2px 4px 2px 0px;
}

.input-chips__chips {
  flex: 1;
}
