@import 'mixins';

$select-options-box-shadow: 0px 2px 8px rgba(96, 123, 153, 0.3);
$select-options-radius: 8px;
$select-options-max-height: 250px;

.select {
  position: relative;
  outline: none;

  &__icon {
    color: $color-neutral-medium-cloud;
    display: flex;
  }

  &__options {
    @include custom-scroll;

    background: $color-primary-ghost;
    width: 100%;
    max-height: 250px;
    position: absolute;
    top: 99%;
    left: 0;
    border-radius: $select-options-radius;
    box-shadow: $select-options-box-shadow;
    overflow-y: auto;
    z-index: 2;
    margin-top: 4px;

    transition: transform 0.25s, opacity 0.75s, visibility 0.75s;
    transform-origin: top left;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;

    box-shadow: 0px 2px 12px $shadow-drop;

    &--open {
      visibility: visible;
      transform: scale(1);
      opacity: 1;
    }
  }
}
