# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
www
loader
# don't lint nyc coverage output
coverage

**/*.js
**/*.jsx
# dont lint the blip-ds-react package
blip-ds-react
/src
storybook-static
jest.setup.ts
jest.svg-transform.js