$color-dark-brand: #0096fa;
$color-dark-primary: #1e6bf1;
$color-dark-secondary: #0096fa;
$color-dark-surface-1: #292929;
$color-dark-surface-2: #1f1f1f;
$color-dark-surface-3: #141414;
$color-dark-surface-4: #0a0a0a;
$color-dark-content-default: #ffffff;
$color-dark-content-disable: #949494;
$color-dark-content-ghost: #666666;
$color-dark-content-bright: #ffffff;
$color-dark-content-din: #000000;
$color-dark-border-1: #515151;
$color-dark-border-2: #3B3B3B;
$color-dark-border-3: #0A0A0A;
$color-dark-info: #004f56;
$color-dark-system: #003c64;
$color-dark-focus: #c226fb;
$color-dark-success: #355e4b;
$color-dark-warning: #60593b;
$color-dark-error: #7b3d3d;
$color-dark-delete: #b60c0c;

//Actions
$color-hover: var(--color-hover, rgba(255, 255, 255, 0.16));
$color-pressed: var(--color-pressed, rgba(255, 255, 255, 0.08));