@import 'resets';

$button-border-radius: 8px;

$height-standard: 40px;
$height-short: 32px;

$button-size-tall: 14px;
$button-size-standard: 9px;
$button-size-short: 5px;

$button-size-tall-icon: 12px;
$button-size-standard-icon: 8px;
$button-size-short-icon: 4px;

$button-padding-left-right-icon: 16px;
$button-padding-left-right: 16px;

@mixin padding-button-top-bottom($padding, $height) {
  padding-top: $padding;
  padding-bottom: $padding;
  height: $height;
}

@mixin inherit-color() {
  color: inherit;
  background-color: inherit;
}

:host {
  cursor: no-drop;
  border-radius: $button-border-radius;
  overflow: hidden;
}

.button {
  @include reset-button();
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: $button-border-radius;
  padding-left: $button-padding-left-right;
  padding-right: $button-padding-left-right;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

  & * {
    pointer-events: none;
  }

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    background-color: $color-content-default;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }

  &:hover {
    &:before {
      opacity: 0.08;
    }
  }

  &:active {
    &:before {
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
      opacity: 0.16;
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--size-tall {
    @include padding-button-top-bottom($button-size-tall, $height-standard);

    &--icon {
      @include padding-button-top-bottom($button-size-tall-icon, $height-standard);
    }
  }

  &--size-standard {
    @include padding-button-top-bottom($button-size-standard, $height-standard);

    &--icon {
      @include padding-button-top-bottom($button-size-standard-icon, $height-standard);
    }
  }

  &--size-short {
    @include padding-button-top-bottom($button-size-short, $height-short);

    &--icon {
      @include padding-button-top-bottom($button-size-short-icon, $height-standard);
    }
  }

  &--size-icon {
    &--left {
      padding-left: $button-padding-left-right-icon;
    }
    &--right {
      padding-right: $button-padding-left-right-icon;
    }
  }

  &__icon {
    position: relative;
    @include inherit-color();
    height: 24px;
    margin-right: 4px;
  }

  &__arrow {
    position: relative;
    @include inherit-color();
    height: 24px;
    margin-left: 2px;
  }

  &__content {
    position: relative;
    height: 20px;
    display: flex;
    align-items: center;
  }

  &__primary {
    background: $color-primary;
    color: $color-content-bright;
  }

  &__secondary {
    background: transparent;
    color: $color-content-default;
  }

  &__tertiary {
    background: transparent;
    color: $color-primary;
    border: 1px solid $color-surface-3;
  }

  &__secondary--white {
    background: transparent;
    color: $color-content-bright;
  }

  &__ghost {
    background: transparent;
    color: $color-primary;
    border: 1px solid $color-primary;
  }

  &__delete {
    background: $color-delete;
    color: $color-content-bright;
  }

  &__dashed {
    background: transparent;
    color: $color-primary-main;
    border: 1px dashed $color-primary-main;
  }

  &__facebook {
    background: $color-facebook-main;
    color: $color-neutral-light-breeze;
  }

  bds-loading-spinner {
    width: auto;
    max-height: 100%;
    position: absolute;
  }

  .hide {
    cursor: not-allowed;
    opacity: 0;
  }
}
