$button-border-radius: 8px;
$button-size-tall: 14px 16px;
$button-size-standard: 10px 16px;
$button-size-short: 6px 16px;

@mixin reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

@mixin padding-button($padding) {
  padding: $padding;
}

@mixin disable-button($background, $color: null, $border: null) {
  cursor: not-allowed;
  background: $background;

  @if ($color) {
    color: $color;
  }

  @if ($border) {
    border: $border;
  }

  &:hover,
  &:focus {
    background: $background;

    @if ($color) {
      color: $color;
    }

    @if ($border) {
      border: $border;
    }
  }

  &:active {
    background: $background;

    @if ($color) {
      color: $color;
    }

    @if ($border) {
      border: $border;
    }
  }
}

.button {
  @include reset-button();
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-radius: $button-border-radius;
  height: 100%;

  &--size-tall {
    @include padding-button($button-size-tall);
  }

  &--size-standard {
    @include padding-button($button-size-standard);
  }

  &--size-short {
    @include padding-button($button-size-short);
  }

  &__content {
    height: 20px;
    display: flex;
    align-items: center;
    color: inherit;
    background-color: inherit;
  }

  &__primary {
    background: $color-primary-main;
    color: $color-primary-ghost;

    &:hover,
    &:focus {
      background: $color-primary-dark;
    }

    &:active {
      background: $color-primary-main;
      color: $color-primary-ghost;
    }

    &--disabled {
      @include disable-button($color-neutral-disbled-blues-bg, $color-neutral-disbled-blues-text);
    }
  }

  &__second {
    background: transparent;
    color: $color-neutral-dark-rooftop;

    &:hover,
    &:focus {
      background: $color-neutral-disbled-blues-bg;
      color: $color-primary-main;
    }

    &:active {
      background: $color-exnted-blue-sky;
      color: $color-primary-main;
    }

    &--disabled {
      @include disable-button(transparent, $color-neutral-disbled-blues-text);
    }
  }

  &__ghost {
    background: transparent;
    color: $color-primary-main;
    border: 1px solid $color-primary-main;

    &:hover,
    &:focus {
      background: transparent;
      color: $color-primary-dark;
      border: 1px solid $color-primary-dark;
    }

    &:active {
      background: transparent;
      color: $color-primary-main;
      border: 1px solid $color-primary-main;
    }

    &--disabled {
      @include disable-button(
        transparent,
        $color-neutral-disbled-blues-text,
        1px solid $color-neutral-disbled-blues-text
      );
    }
  }

  &__dashed {
    background: transparent;
    color: $color-primary-main;
    border: 1px dashed $color-primary-main;

    &:hover,
    &:focus {
      background: transparent;
      color: $color-primary-dark;
      border: 1px dashed $color-primary-dark;
    }

    &:active {
      background: transparent;
      color: $color-primary-main;
      border: 1px dashed $color-primary-main;
    }

    &--disabled {
      @include disable-button(
        transparent,
        $color-neutral-disbled-blues-text,
        1px dashed $color-neutral-disbled-blues-text
      );
    }
  }
}
