@mixin text-base() {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}

.text {
  &__variant {
    &--fs-10 {
      @include font-base();
      font-size: $fs-10;
    }

    &--fs-12 {
      @include font-base();
      font-size: $fs-12;
    }

    &--fs-14 {
      @include font-base();
      font-size: $fs-14;
    }

    &--fs-16 {
      @include font-base();
      font-size: $fs-16;
    }
  }
}
