:host {
  display: block;
  background: $color-neutral-light-snow;
  border-radius: 7px;
}

:host(.paper__elevation--static) {
  box-shadow: 0px 2px 8px rgba(7, 71, 166, 0.15);
}

:host(.paper__elevation--primary) {
  box-shadow: 0px 10px 16px rgba(7, 71, 166, 0.12);
}

:host(.paper__elevation--secondary) {
  box-shadow: 0px 16px 20px rgba(7, 71, 166, 0.16), 0px 0px 2px rgba(7, 71, 166, 0.2);
}
