@import '../../global-style';

:host {
  display: block;
  border-radius: 16px;
}

:host(.border) {
  border: 1px solid $color-border-1;
  margin: -1px;
}

:host(.bg-surface-0) {
  background-color: $color-surface-0;
}

:host(.bg-surface-1) {
  background-color: $color-surface-1;
}

:host(.bg-surface-2) {
  background-color: $color-surface-2;
}

:host(.bg-surface-3) {
  background-color: $color-surface-3;
}

:host(.bg-surface-4) {
  background-color: $color-surface-4;
}

:host(.border-1) {
  border-color: $color-border-1;
}

:host(.border-2) {
  border-color: $color-border-2;
}

:host(.border-3) {
  border-color: $color-border-3;
}

:host(.border-primary) {
  border-color: $color-primary;
}

:host(.border-secondary) {
  border-color: $color-secondary;
}
:host(.border-positive) {
  border-color: $color-positive;
}
:host(.border-negative) {
  border-color: $color-negative;
}
:host(.border-warning) {
  border-color: $color-warning;
}
:host(.border-error) {
  border-color: $color-error;
}
:host(.border-success) {
  border-color: $color-success;
}
:host(.border-delete) {
  border-color: $color-delete;
}

:host(.paper__elevation--none) {
  box-shadow: none;
}

:host(.paper__elevation--static) {
  box-shadow: $shadow-1;
}

:host(.paper__elevation--primary) {
  box-shadow: $shadow-2;
}

:host(.paper__elevation--secondary) {
  box-shadow: $shadow-3;
}

.paper__display {
  display: contents;
}
