@import '../../global-style';

:host {
  display: block;
  border-radius: 7px;
}

:host(.border) {
  border: 1px solid $color-surface-3;
  margin: -1px;
}

:host(.bg-surface-1) {
  background-color: $color-surface-1;
}

:host(.bg-surface-2) {
  background-color: $color-surface-2;
}

:host(.bg-surface-3) {
  background-color: $color-surface-3;
}

:host(.bg-surface-4) {
  background-color: $color-surface-4;
}

:host(.paper__elevation--none) {
  box-shadow: none;
}

:host(.paper__elevation--static) {
  box-shadow: 0px 4px 8px $color-shadow-1;
}

:host(.paper__elevation--primary) {
  box-shadow: 0px 12px 16px $color-shadow-1;
}

:host(.paper__elevation--secondary) {
  box-shadow: 0px 4px 16px $color-shadow-1, 0px 24px 32px $color-shadow-1;
}

.paper__display {
  display: contents;
}
