:host {
  display: block;
  width: 100%;
}

.list {
  &_item {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 10px 16px;

    & .avatar-item {
      display: block;
    }

    & .icon-item {
      color: $color-content-default;
    }

    & .grow-up {
      flex-grow: 2;
    }

    & .content-item {
      display: flex;
      gap: 2px;
      flex-direction: column;

      & .title-item {
        color: $color-content-default;
      }

      & .subtitle-item {
        color: $color-content-disable;
      }
    }

    .content-area {
      flex-grow: 2;
      .internal-chips,
      ::slotted(*) {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }
    }

    .action-area {
      .internal-actions-buttons,
      ::slotted(*) {
        display: flex;
        flex-direction: row;
        color: $color-content-default;
      }
    }
  }
}

.clickable {
  cursor: pointer;
  &:hover {
    background-color: $color-neutral-light-whisper;
    mix-blend-mode: multiply;
  }
}
