@import 'mixins';

:host {
  display: block;
  width: 100%;
}

:host(.list_item_content) {
    display: flex;
    width: fit-content;
}

.list {
  &_item {
    display: flex;
    gap: 16px;
    align-items: center;
    &_tall {
      padding: 16px;
    }
    &_standard {
      padding: 8px 16px;
    }
    &_short {
      padding: 8px;
    }

    & .input_list {
      position: relative;
    }

    & .avatar-item {
      position: relative;
      display: block;
    }

    & .icon-item {
      position: relative;
      color: $color-content-default;

      &-active {
        color: $color-primary;
      }
    }

    & .grow-up {
      position: relative;
      flex-grow: 2;
    }

    & .content-slot {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    & .content-item {
      position: relative;
      display: flex;
      gap: 2px;
      flex-direction: column;

      & .title-item {
        color: $color-content-default;
      }

      & .subtitle-item {
        color: $color-content-default;
      }
    }

    .content-area {
      position: relative;
      flex-grow: 2;
      .internal-chips,
      ::slotted(*) {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }
    }

    .action-area {
      position: relative;
      .internal-actions-buttons,
      ::slotted(*) {
        display: flex;
        flex-direction: row;
        color: $color-content-default;
      }
    }

    & .icon-arrow {
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      transition: all ease 0.3s;
      transform: rotate(0deg);

      &-active {
        transform: rotate(180deg);
      }
    }
  }
}

.border_radius {
  border-radius: 8px;
  &:before, &:after, .active {
    border-radius: 8px;
  }
}
.active {
  position: absolute;
  background-color: $color-content-default;
  opacity: 0.08;
  inset: 0;
}

.clickable {
  position: relative;
  cursor: pointer;
  gap: 8px;
  &:before {
    content: '';
    position: absolute;
    inset: 0;
  }
  @include hover-and-pressed();
}
