$input-padding: 8px 12px 9px 12px;
$input-padding-label: 7px 12px 8px 12px;
$input-width: 312px;

@mixin input-text {
  font-family: $font-family;
  font-size: $fs-14;
  line-height: $line-hight-plus;
}

@mixin border($color) {
  border: 1px solid $color;
  box-sizing: border-box;
  border-radius: 8px;
}

@mixin form-reset-input-specific {
  &:focus {
    outline: 0;
  }

  &[type="checkbox"],
  &[type="radio"] {
    width: 13px;
    height: 13px;
  }

  /* Make webkit render the search input like a normal text field */
  &[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
  }

  /* Turn off the recent search for webkit. It adds about 15px padding on the left */
  @at-root {
    ::-webkit-search-decoration {
      display: none;
    }
  }

  /* Fix IE7 display bug */
  &[type="reset"],
  &[type="button"],
  &[type="submit"] {
    overflow: visible;
  }
}

@mixin reset-input {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  width: auto;
  vertical-align: middle; // IE6,IE7
  white-space: normal;
  line-height: inherit;
  background: none;

  /* Browsers have different default form fonts */
  color: inherit;
  font-size: inherit;
  font-family: inherit;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  &:focus {
    outline: 0;
  }

  &::-webkit-file-upload-button {
    padding: 0;
    border: 0;
    background: none;
  }

  @include form-reset-input-specific();
}

@mixin input-theme($primary, $secondary, $label, $boxShadow) {
  color: $color-neutral-dark-city;

  &.input--hover {
    @include border($primary);
  }

  &.input--pressed,
  &.input--focus {
    @include border($primary);
    -webkit-box-shadow: 0 0 0 2px $boxShadow;
    box-shadow: 0 0 0 2px $boxShadow;
  }

  .input__container__icon-left {
    color: $primary;
    background-color: $secondary;
  }

  .input__container__content__label {
    color: $label;
  }
}

.input {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $input-padding;
  width: $input-width;

  @include border($color-neutral-light-wave);

  &--state {
    &-primary {
      @include input-theme(
        $color-primary-main,
        $color-neutral-disabled-blues-bg,
        $color-neutral-medium-cloud,
        $color-primary-bg-main
      );
    }

    &-danger {
      @include input-theme(
        $color-secondary-delete,
        $color-extend-rr-b-vitamin,
        $color-secondary-delete,
        $color-secondary-bg-delete
      );
    }
  }

  &--label {
    padding: $input-padding-label;
  }

  &__icon-left {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 8px;
    padding: 2.5px;

    &--large {
      padding: 4px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__label {
      display: flex;
      align-items: center;
    }

    &__text {
      @include reset-input();
      @include input-text();
    }
  }

  &__message {
    display: flex;
    align-items: center;
    height: 18px;
    left: 0px;
    position: absolute;
    bottom: -22px;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: $color-neutral-medium-cloud;

    &--danger {
      color: $color-secondary-delete;
    }
  }
}
