.calendar {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__selectMonth {
    width: 100%;
    display: grid;
    grid-template-columns: 28px 1fr 1fr 28px;
    margin-bottom: 16px;

    &__typo {
      display: flex;
      justify-content: center;
      color: $color-primary-main;

      &__present {
        padding-right: 24px;
      }

      &__future {
        padding-left: 24px;
      }
    }

    &__icon {
      cursor: pointer;
      color: $color-neutral-dark-rooftop;
    }

    & .arrow-left {
      padding-left: 8px;
    }

    & .arrow-right {
      padding-right: 8px;
    }
  }

  &__week {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__present,
    &__future {
      width: fit-content;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    &__day {
      width: 40px;
      height: 40px;
      padding: 4px;
      text-align: center;
      color: $color-neutral-dark-rooftop;
    }
  }

  &__car {
    height: 288px;
    width: 712px;
    overflow: hidden;
    position: relative;

    &__slide {
      display: flex;
      position: absolute;
      left: calc(-50% - 60px);

      &__box {
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-left: 40px;

        &__day {
          width: 40px;
          height: 40px;
          padding: 4px;
          position: relative;

          &__period {
            &:before {
              content: '';
              position: absolute;
              inset: 8px 0px;
              background-color: $color-disabled-bg;
            }
          }

          &__start {
            &:before {
              inset: 8px 0px 8px 8px;
              border-top-left-radius: 16px;
              border-bottom-left-radius: 16px;
            }
          }

          &__end {
            &:before {
              inset: 8px 8px 8px 0px;
              border-top-right-radius: 16px;
              border-bottom-right-radius: 16px;
            }
          }

          &__typo {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            color: $color-neutral-dark-rooftop;
            border: 1px solid transparent;
            cursor: pointer;

            &:hover {
              background-color: $color-neutral-light-snow;
              color: $color-primary-main;
              border-color: $color-primary-main;
            }
          }

          &__current {
            background-color: $color-disabled-bg;
            color: $color-primary-night;
            border-color: $color-disabled-bg;
          }

          &__selected {
            background-color: $color-primary-dark;
            color: $color-neutral-light-snow;
            border-color: $color-primary-dark;

            &:hover {
              background-color: $color-primary-dark;
              color: $color-neutral-light-snow;
              border-color: $color-primary-dark;
            }
          }

          &__disable {
            pointer-events: none;
            background-color: transparent;
            color: $color-neutral-medium-cloud;
          }
        }
      }
    }

    .animate__prev {
      animation-name: animationPrev;
      animation-duration: 0.31s;
      animation-timing-function: ease-in-out;
    }
    .animate__next {
      animation-name: animationNext;
      animation-duration: 0.31s;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes animationPrev {
  0% {
    left: calc(-50% - 60px);
  }
  100% {
    left: -40px;
  }
}

@keyframes animationNext {
  0% {
    left: calc(-50% - 60px);
  }
  100% {
    left: calc(-100% - 80px);
  }
}
