@mixin inherit-color() {
  color: inherit;
  background-color: inherit;
}
:host {
  .show,
  .hide {
    display: flex;
  }
  .show {
    opacity: 1;

    &--top-right,
    &--bottom-right {
      animation: toastAnimationFadeInFromRight 1s;
    }

    &--top-left,
    &--bottom-left {
      animation: toastAnimationFadeInFromLeft 1s;
    }
  }
  .hide {
    transition: all 1s;
    animation: toastAnimationFadeOut 0.5s;
  }
}

.toast {
  display: none;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: $shadow-3;
  color: $color-content-default;
  opacity: 0;
  margin-top: 16px;
  overflow: hidden;
  gap: 16px;

  &--action--icon {
    min-width: 440px;
    max-width: 440px;
    padding: 8px 16px;

    bds-icon-button {
      height: 32px;
    }

    @media (max-width: $sm-screen) {
      min-width: 220px;
      width: 95%;
      margin: 16px auto 0px auto;
    }
  }

  &--action--button {
    min-width: 440px;
    max-width: 456px;
    padding: 8px 16px;

    @media (max-width: $sm-screen) {
      min-width: 220px;
      width: 95%;
      margin: 16px auto 0px auto;
    }
  }

  &--system {
    background: $color-system;
  }

  &--error {
    background: $color-error;
  }

  &--success {
    background: $color-success;
  }

  &--warning {
    background: $color-warning;
  }

  &--undo {
    background-color: $color-system;
  }

  &--redo {
    background-color: $color-system;
  }
  &--notification {
    background-color: $color-surface-1;
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 0;
  }

  &__ballon {
    display: flex;
    position: absolute;
    top: -8px;
    left: -12px;
    color: $color-system;
    width: 72px;
  }

  &__content {
    position: relative;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0;
  }

  &__action {
    display: flex;
    align-items: flex-start;

    bds-button-icon,
    bds-button {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        inset: -4px;
        border: 2px solid transparent;
        border-radius: 4px;
      }

      &:focus-visible {
        outline: none;

        &::before {
          border-color: $color-focus;
        }
      }
    }

    &__button {
      white-space: nowrap;
    }
  }
}

@keyframes toastAnimationFadeInFromRight {
  0% {
    opacity: 0;
    right: -200px;
  }
  50% {
    opacity: 0.9;
    right: 1px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes toastAnimationFadeInFromLeft {
  0% {
    opacity: 0;
    left: -200px;
  }
  50% {
    opacity: 0.9;
    left: 1px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes toastAnimationFadeOut {
  0% {
    opacity: 1;
  }
  30% {
    max-height: 60px;
  }
  80% {
    opacity: 0;
    max-height: 30px;
  }
  100% {
    max-height: 0px;
  }
}
