:host {
  padding: 8px;

  .step {
    width: 100%;
    display: flex;
    align-items: center;
    &__content {
      display: flex;
      align-items: center;

      &--disabled {
        color: $color-content-default;
      }

      &--completed {
        color: $color-content-disable;
      }

      &--active {
        color: $color-primary;
        font-weight: bold;
      }

      &--pointer {
        cursor: pointer;
      }

      &__ellipse {
        display: inline-flex;
        justify-content: center;
        border-radius: 50%;
        background: $color-content-default;
        margin-right: 4px;
        min-width: 24px;
        min-height: 24px;
        color: $color-content-bright;

        &--completed {
          background: $color-content-disable;
        }

        &--active {
          background: $color-primary;
        }
      }
    }
  }

  @media (max-width: $sm-screen) {
    display: flex;
    flex: inherit;
  }
}
