@import 'resets';

$switch-size-width-tall: 56px;
$switch-size-width-standard: 42px;
$switch-size-width-short: 32px;

$switch-size-height-tall: 32px;
$switch-size-height-standard: 24px;
$switch-size-height-short: 18px;

$switch-size-slider-tall: 24px;
$switch-size-slider-standard: 18px;
$switch-size-slider-short: 13.5px;

$switch-size-translateX-tall: 24px;
$switch-size-translateX-standard: 18px;
$switch-size-translateX-short: 13.75px;

$slider-size-content-tall: 4px;
$slider-size-content-standard: 3px;
$slider-size-content-short: 2.25px;

@mixin translateX_values($value) {
  -webkit-transform: translateX($value);
  -ms-transform: translateX($value);
  transform: translateX($value);
}

@mixin switch_width_height($width, $height) {
  width: $width;
  height: $height;
}

@mixin slider_width_height($value, $margin) {
  position: absolute;
  content: ' ';
  left: $margin;
  bottom: $margin;
  top: $margin;
  background-color: $color-content-bright;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  width: $value;
  height: $value;
}

.switch {
  position: relative;
  display: inline-block;

  &--size-tall {
    @include switch_width_height($switch-size-width-tall, $switch-size-height-tall);
  }
  &--size-standard {
    @include switch_width_height($switch-size-width-standard, $switch-size-height-standard);
  }
  &--size-short {
    @include switch_width_height($switch-size-width-short, $switch-size-height-short);
  }

  .focus:focus-visible {
    display: flex;
    position: absolute;
    border: 2px solid $color-focus;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    top: -4px;
    left: -4px;
    padding-right: 4px;
    padding-bottom: 4px;
    outline: none;
  }
}

.switch input {
  opacity: 100;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-content-disable;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;

  &--size-tall::before {
    @include slider_width_height($switch-size-slider-tall, $slider-size-content-tall);
  }

  &--size-standard::before {
    @include slider_width_height($switch-size-slider-standard, $slider-size-content-standard);
  }

  &--size-short::before {
    @include slider_width_height($switch-size-slider-short, $slider-size-content-short);
  }

  &--deselected-disabled {
    cursor: not-allowed;
    background-color: $color-content-disable;
    opacity: 0.5;
  }

}

input:checked + .slider {
  background-color: $color-primary;

  &--selected-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

input:focus + .slider {
  box-shadow: 0 0 1px $color-primary-main;

  &--selected-disabled {
    box-shadow: 0 0 1px $color-neutral-medium-silver;
  }

  &--deselected-disabled {
    box-shadow: 0 0 1px $color-neutral-medium-wave;
  }
}

input:checked + .slider {
  &--size-tall::before {
    @include translateX_values($switch-size-translateX-tall);
  }

  &--size-standard::before {
    @include translateX_values($switch-size-translateX-standard);
  }

  &--size-short::before {
    @include translateX_values($switch-size-translateX-short);
  }
}
