@use '../../../../globals/helpers' as *;

.bds-tab {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: content-box;
  min-width: fit-content;
  max-width: 270px;
  height: 46px;
  max-height: 48px;
  
  cursor: pointer;
  text-align: center;
  color: $color-content-disable;
  border-bottom: 2px solid transparent;

  &:not(:last-child) {
    margin-right: 32px;
  }

  &:hover {
    color: $color-content-default;
  }

  &--selected {
    animation-name: selectFade;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
  }

  &__text {
    min-width: 90px;
    max-width: 270px;
  }

  @keyframes selectFade {
    from{
       border-bottom: 2px solid transparent;
       color: $color-content-default;
    }
    to{
       border-bottom: 2px solid $color-brand;
      color: $color-content-default;
    }
  }
}

@media (max-width: 599px) {
  .bds-tab {
    min-width: 110px;
    text-overflow: ellipsis;
  }
}
