:host {
  display: none;
}

:host(.is-open) {
  display: block;
  height: 100%;
}

.tab_item {
  height: 100%;
  &_content {
    display: none;
    height: 100%;
    &--open {
      display: block;
    }
  }
}
