@mixin fontDescriptionLabel() {
  color: $color-neutral-medium-cloud;
  font-size: 10px;
  line-height: 15px;
  font-weight: lighter;
}

@mixin fontDescriptionValue() {
  color: $color-neutral-dark-city;
  font-size: 12px;
  line-height: 18px;
  font-weight: lighter;
}

$border-radius: 8px;

.card-color {
  width: 239px;
  height: 136px;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  box-shadow: $shadow-drop;
  margin-left: 8px;
  margin-top: 8px;

  &--color {
    flex: 2;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &-primary-main {
      background-color: $color-primary-main;
    }
    &-primary-light {
      background-color: $color-primary-light;
    }
    &-primary-dark {
      background-color: $color-primary-dark;
    }
    &-primary-night {
      background-color: $color-primary-night;
    }

    &-extends-reds-delete {
      background-color: $color-extend-reds-delete;
    }
    &-extend-browns-cheetos {
      background-color: $color-extend-browns-cheetos;
    }
    &-primary-greens-true {
      background-color: $color-primary-greens-true;
    }
    &-primary-greens-forest {
      background-color: $color-primary-greens-forest;
    }

    &-disabled-text {
      background-color: $color-disabled-text;
    }
    &-disabled-bg {
      background-color: $color-disabled-bg;
    }

    &-neutral-dark-onix {
      background-color: $color-neutral-dark-onix;
    }
    &-neutral-dark-suit {
      background-color: $color-neutral-dark-suit;
    }
    &-neutral-dark-city {
      background-color: $color-neutral-dark-city;
    }
    &-neutral-dark-rooftop {
      background-color: $color-neutral-dark-rooftop;
    }

    &-neutral-medium-desk {
      background-color: $color-neutral-dark-desk;
    }
    &-neutral-medium-cloud {
      background-color: $color-neutral-medium-cloud;
    }
    &-neutral-medium-silver {
      background-color: $color-neutral-medium-silver;
    }

    &-neutral-medium-wave {
      background-color: $color-neutral-medium-wave;
    }
    &-neutral-light-box {
      background-color: $color-neutral-light-box;
    }
    &-neutral-light-breeze {
      background-color: $color-neutral-light-breeze;
    }
    &-neutral-light-whisper {
      background-color: $color-neutral-light-whisper;
    }

    &-extend-reds-flower {
      background-color: $color-extend-reds-flower;
    }
    &-extend-reds-lipstick {
      background-color: $color-extend-reds-lipstick;
    }
    &-extend-reds-dragon {
      background-color: $color-extend-reds-dragon;
    }
    &-primary-pinks-yogurt {
      background-color: $color-primary-pinks-yogurt;
    }
    &-primary-pinks-yogurt{
      background-color: $color-primary-pinks-yogurt;
    }
    &-primary-pinks-watermelon {
      background-color: $color-primary-pinks-watermelon;
    }
    &-primary-pinks-blush {
      background-color: $color-primary-pinks-blush;
    }

    &-primary-yellows-corn {
      background-color: $color-primary-yellows-corn;
    }
    &-primary-yellows-corn {
      background-color: $color-primary-yellows-corn;
    }
    &-primary-yellows-sun {
      background-color: $color-primary-yellows-sun;
    }
    &-primary-yellows-guarana {
      background-color: $color-primary-yellows-guarana;
    }
    &-extend-browns-sand {
      background-color: $color-extend-browns-sand;
    }
    &-extend-browns-sand {
      background-color: $color-extend-browns-sand;
    }
    &-extend-browns-sphinx {
      background-color: $color-extend-browns-sphinx;
    }
    &-primary-oranges-sunset {
      background-color: $color-primary-oranges-sunset;
    }
    &-primary-oranges-sunset {
      background-color: $color-primary-oranges-sunset;
    }
    &-primary-oranges-carrot {
      background-color: $color-primary-oranges-carrot;
    }

    &-illustration-green-bamboo {
      background-color: $color-illustration-green-bamboo;
    }
    &-primary-greens-mint {
      background-color: $color-primary-greens-mint;
    }
    &-primary-greens-true {
      background-color: $color-primary-greens-true;
    }
    &-primary-greens-aligator {
      background-color: $color-primary-greens-aligator;
    }
    &-illustration-green-lime {
      background-color: $color-illustration-green-lime;
    }
    &-illustration-green-leaf {
      background-color: $color-illustration-green-leaf;
    }
    &-illustration-green-algae {
      background-color: $color-illustration-green-algae;
    }

    &-illustration-blue-sky {
      background-color: $color-illustration-blue-sky;
    }
    &-illustration-blue-genie {
      background-color: $color-illustration-blue-genie;
    }
    &-illustration-blue-brand {
      background-color: $color-illustration-blue-brand;
    }
    &-illustration-blue-sea {
      background-color: $color-illustration-blue-sea;
    }

    &-primary-light {
      background-color: $color-primary-light;
    }
    &-primary-light {
      background-color: $color-primary-light;
    }
    &-primary-main {
      background-color: $color-primary-main;
    }
    &-primary-night {
      background-color: $color-primary-night;
    }

    &-primary-purples-pixie {
      background-color: $color-primary-purples-pixie;
    }
    &-primary-purples-bell {
      background-color: $color-primary-purples-bell;
    }
    &-primary-purples-witch {
      background-color: $color-primary-purples-witch;
    }
    &-primary-purples-acai {
      background-color: $color-primary-purples-acai;
    }

    &-gradient-universe {
      background: $color-gradient-universe;
    }
    &-gradient-street {
      background: $color-gradient-street;
    }
    &-gradient-chair {
      background: $color-gradient-street;
    }
    &-gradient-shine {
      background: $color-neutral-light-whisper;
    }
    &-gradient-olaf {
      background: $color-neutral-light-whisper;
    }
    &-gradient-dg-blip-system {
      background: $color-gradient-smurf;
    }
    &-gradient-error {
      background: $color-gradient-rose;
    }
    &-gradient-phoenix {
      background: $color-gradient-phoenix;
    }
    &-gradient-success {
      background: $color-gradient-tree;
    }
    &-gradient-barbie {
      background: $color-gradient-fabulous;
    }
    &-gradient-jeans {
      background: $color-gradient-universe;
    }
    &-gradient-ocean {
      background: $color-gradient-ocean;
    }
    &-gradient-smurfette {
      background: $color-gradient-smurf;
    }
  }

  &__description {
    flex: 1;
    padding: 0 8px;
    background-color: $color-neutral-light-whisper;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    &__name {
      &__label {
        @include fontDescriptionLabel();
      }

      &__text {
        @include fontDescriptionValue();
      }
    }

    &__value {
      &__label {
        @include fontDescriptionLabel();
      }

      &__text {
        @include fontDescriptionValue();
      }
    }
  }
}
