$avatar-size-extra-small :32px;
$avatar-size-small :40px;
$avatar-size-standard :56px;

.avatar__group {
  display: flex;

  & > *{
    &:nth-child(1) {
      z-index: 5;
    }
    &:nth-child(2) {
      z-index: 4;
    }
    &:nth-child(3) {
      z-index: 3;
    }
    &:nth-child(4) {
      z-index: 2;
    }
    &:nth-child(5) {
      z-index: 1;
    }
  }

  .avatar {
    border: 2px solid $color-neutral-light-snow;
    position: relative;
  }
  &__size {
    &--extra-small{
      margin-left: 4px ;
      & > *{
        margin-left: -4px ;
      }
      .avatar {
        width: $avatar-size-extra-small;
        height: $avatar-size-extra-small;
      }
    }
    &--small{
      margin-left: 8px ;
      & > *{
        margin-left: -8px ;
      }
      .avatar {
        width: $avatar-size-small;
        height: $avatar-size-small;
        
      }
    }
    &--standard{
      margin-left: 12px ;
      & > *{
        margin-left: -12px ;
      }
      .avatar {
        width: $avatar-size-standard;
        height: $avatar-size-standard;
      }
    }
  }
}
