/*
  Font family is Nunito Sans. Its fallback is Helvetica
*/
/*
  Font sizes have been converted to rem considering a base size of 16px.
*/
/*
*  Z-Index
*  
*  The z-index CSS property sets the z-order of a positioned element and its descendants or flex items. 
*  Overlapping elements with a larger z-index cover those with a smaller one.
*  
*  REF: https://developer.mozilla.org/en-US/docs/Web/CSS/z-index
*  REF: https://www.smashingmagazine.com/2019/04/z-index-component-based-web-application/  
*/
/**
 * Define media query values
 */
.alert__actions {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 12px 16px;
  box-sizing: border-box;
}
.alert__actions ::slotted(bds-button:nth-child(1)) {
  margin-right: 16px !important;
}