:host {
  display: block;

  * {
    color: $color-content-default;
  }
}

.button--icon {
  transform: rotate(180deg);
  color: $color-content-ghost;
}

.breadcrumb__button {
  &--0 {
    padding-left: 0;

    .button--icon {
      display: none;
    }
  }

  &--1 {
    padding-left: 8px;
  }

  &--2 {
    padding-left: 16px;
  }

  &--3 {
    padding-left: 24px;
  }

  &--4 {
    padding-left: 32px;
  }
}

.breadcrumb__link--text {
  color: $color-content-disable;
}

.breadcrumb__link {
  text-decoration: none;
}

.breadcrumb__item {
  transition: color 0.15s, background-color 0.15s;

  bds-typo, bds-icon, .breadcrumb__text {
    color: $color-content-ghost;

  }

  bds-typo:hover, .breadcrumb__text:hover {
    color: $color-content-default;
  }

  &--active {
    border-radius: 12px;

    &:hover {
      background-color: $color-surface-3;
    }

    bds-typo, bds-icon, .breadcrumb__text {
      color: $color-content-default;
    }
  }
}