$menu-list-width: 7px;
$menu-list-height: 56px;
$menu-list-border: 8px;

$menu-list-border-left: 8px 0px 0px 8px;
$menu-list-border-right: 0px 8px 8px 0px;

.menu-list {
  display: flex;
  width: fit-content;
  box-shadow: $shadow-drop;
  height: $menu-list-height;
  border-radius: $menu-list-border;

  bds-menu-list-item + bds-menu-list-item {
    border-left: 1px solid $color-neutral-light-wave;
  }

  &__left {
    width: $menu-list-width;
    height: $menu-list-height;
    border-radius: $menu-list-border-left;
    background-color: $color-snow-white;
  }

  &__right {
    width: $menu-list-width;
    height: $menu-list-height;
    border-radius: $menu-list-border-right;
    background-color: $color-snow-white;
  }
}
