:host {
    display: flex;
    position: relative;

    &:focus-visible {
        outline: none;
    }
}

.card {
    display: flex;
    width: 100%;
}

.card_hover:hover {
    transform: scale(1.02);
    transition: all .3s;
    cursor: pointer;
}

.focus:focus-visible {
    display: flex;
    position: absolute;
    border: 2px solid $color-focus;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    top: -4px;
    left: -4px;
    padding-right: 4px;
    padding-bottom: 4px;
    outline: none;
  }