@import 'mixins';

:host {
  display: block;
}

.spinner_container {
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

}

.spinner_background {
  border-radius: 50%;
  border: 2px solid $color-surface-3;
  &_extra-small {
    border-width: 2px;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }
  &_small {
    border-width: 4px;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
  }
  &_standard {
    border-width: 8px;
    width: 64px;
    height: 64px;
    box-sizing: border-box;
  }
  &_main {
    border-color: $color-surface-3;
  }
  &_light {
    border-color: $color-content-default;
    mix-blend-mode: multiply;
    opacity: 0.32;
  }
}

.spinner_loading {
  animation: rotate 0.5s linear infinite;
  position: absolute;

  &_extra-small {
    width: 16px;
    height: 16px;
  }
  &_small {
    width: 32px;
    height: 32px;
  }
  &_standard {
    width: 64px;
    height: 64px;
  }
  &_main {
    color: $color-primary;
  }
  &_light {
    color: $color-surface-3;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
