@import 'mixins';

:host {
  display: block;
}
.spinner_container {
  display: inline-flex;
  border-radius: 80px;
  border: 8px solid #d2dfe6;
  position: relative;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  &_extra-small {
    border: 2px solid #d2dfe6;
  }
  &_small {
    border: 4px solid #d2dfe6;
  }
  &_standard {
    border: 8px solid #d2dfe6;
  }
}
.spinner_loading {
  animation: rotate 0.5s linear infinite;
  position: absolute;

  &_extra-small {
    width: 16px;
    height: 16px;
  }
  &_small {
    width: 32px;
    height: 32px;
  }
  &_standard {
    width: 64px;
    height: 64px;
  }
  &_main {
    color: $color-primary-main;
  }
  &_light {
    color: $color-neutral-light-snow;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
