.bds-icon {
  display: inline-flex;
  align-items: center;
  svg {
    fill: currentColor;
    width: 100%;
    min-width: 100%;
  }
}

.bds-icon__size--xxx-large {
  width: 40px;
  height: 40px;
}

.bds-icon__size--xx-large {
  width: 36px;
  height: 36px;
}

.bds-icon__size--x-large {
  width: 32px;
  height: 32px;
}

.bds-icon__size--large {
  width: 28px;
  height: 28px;
}

.bds-icon__size--medium {
  width: 24px;
  height: 24px;
}

.bds-icon__size--small {
  width: 20px;
  height: 20px;
}

.bds-icon__size--x-small {
  width: 16px;
  height: 16px;
}

.bds-icon__size--xx-small {
  width: 12px;
  height: 12px;
}

.bds-icon__size--xxx-small {
  width: 8px;
  height: 8px;
}
