@mixin size($size) {
  width: $size;
  min-width: $size;
  height: $size;
  max-height: $size;
  min-height: $size;
}

$icon-brand: 64px;
$icon-xxx-large: 40px;
$icon-xx-large: 36px;
$icon-x-large: 32px;
$icon-large: 28px;
$icon-medium: 24px;
$icon-small: 20px;
$icon-x-small: 16px;
$icon-xx-small: 12px;

:host {
  width: 1em;
  height: 1em;
  color: $color-content-default;

  fill: currentColor;

  box-sizing: content-box !important;
}

.icon-inner {
  max-width: 100%;
  height: 100%;
}

.emoji-inner {
  max-width: 100%;
  height: 100%;
  display: flex;
}

:host(.bds-icon) {
  display: inline-block;
  svg {
    fill: currentColor;
    width: 100%;
    min-width: 100%;
  }
}

:host(.bds-icon__size--brand) {
  @include size($icon-brand);
}

:host(.bds-icon__size--xxx-large) {
  @include size($icon-xxx-large);
}

:host(.bds-icon__size--xx-large) {
  @include size($icon-xx-large);
}

:host(.bds-icon__size--x-large) {
  @include size($icon-x-large);
}

:host(.bds-icon__size--large) {
  @include size($icon-large);
}

:host(.bds-icon__size--medium) {
  @include size($icon-medium);
}

:host(.bds-icon__size--small) {
  @include size($icon-small);
}

:host(.bds-icon__size--x-small) {
  @include size($icon-x-small);
}

:host(.bds-icon__size--xx-small) {
  @include size($icon-xx-small);
}
