@import 'mixins';

:host {
  width: 100%;
}
.upload {
  min-width: 326px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;

  .upload-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 16px;
    gap: 8px;
    color: $color-content-default;

    &_text {
      color: $color-content-default;
      display: flex;
      flex-direction: column;
    }
  }
}

.upload__edit--label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-border-1;
  border-radius: 8px;
  margin: 16px;
  font-weight: normal;
  box-sizing: border-box;
  position: relative;

  &:focus-visible {
    outline: none;

    &::before {
      border-color: $color-focus;
    }
  }

  .text-box {
    text-align: center;

    .text-true {
      color: $color-primary;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.upload__edit--drag {
  background-color: rgba(30, 107, 241, 0.2);
  border-color: $color-primary;
  &::before {
    content: '';
    position: absolute;
    inset: -4px;
    border: 2px solid transparent;
    border-radius: 4px;
  }
}

.upload__edit--hover {
  border: 1px dashed $color-border-1;
  color: $color-primary;
  font-weight: bold;
  transition: all 500ms;

  &:hover {
    border: 1px dashed $color-primary;
    color: $color-primary;
    font-weight: bold;

    .upload__edit--label {
      border: 1px solid $color-primary;
      box-sizing: border-box;
      transition: all 500ms;

      .text {
        color: $color-primary;
      }
    }
  }
}

.upload--drag {
  border: 1px dashed $color-primary;
  color: $color-primary;
  font-weight: bold;
  transition: all 500ms;
}

.upload__overlay {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    inset: -4px;
    border: 2px solid transparent;
    border-radius: 4px;
    z-index: 2;
  }
  &:hover {
    &::before {
      display: none;
    }
  }
}

.upload__edit--label {
  transition: all 500ms;

  &:hover {
    border: 1px solid $color-primary;

    .text {
      color: $color-primary;
    }
  }
}

.upload__list {
  padding: 16px;
}

.list-preview {
  border-top: 1px solid $color-border-1;
  border-bottom: 1px solid $color-border-1;
  max-height: 200px;
  overflow-y: auto;
  box-sizing: border-box;
  @include custom-scroll;
}

.upload__preview {
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4px 0;

  .preview {
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    gap: 8px;

    &-text-box {
      max-width: 1200px;
      width: 100%;
      overflow: hidden;
      
      .preview-text {
        font-family: $font-family;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: $color-content-default;
      }
    }

    &-icon {
      color: $color-content-default;
    }
    &-icon:hover {
      cursor: pointer;
    }
  }
}

.preview-length {
  display: flex;
  justify-content: end;
  padding-top: 14px;
  text-align: end;
}

.upload__edit--label input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 0;
  height: 100%;
}
