.bds-tab-header {
  height: 45px;

  cursor: pointer;
  color: $color-neutral-medium-cloud;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;

  white-space: nowrap;
}
bds-tab-header:not(:last-child) {
  .bds-tab-header {
    margin-right: 42px;
  }
}

@media (max-width: 599px) {
  .bds-tab-header {
    min-width: 100px;
  }
}

.bds-tab-header-selected {
  border-bottom: 2px solid $color-primary-main;
  color: $color-primary-main;
  font-weight: 700;
}
