
hr {
    border: none;
    border-top-width: 1px;
  
    &.horizontal {
      width: 100%;
      border-top-style: solid;
      border-top-width: 1px;
      margin:  16px 0 16px 0;
    }
  
    &.vertical {
      height: 100%;
      border-left-style: solid;
      border-left-width: 1px;
      margin: 0 16px 0 16px;
    }
  
    /* Estilos de linha */
    &.solid {
      border-top-style: solid;
      border-left-style: solid;
    }
  
    &.dotted {
      border-top-style: dotted;
      border-left-style: dotted;
    }
  
    &.dashed {
      border-top-style: dashed;
      border-left-style: dashed;
    }
  
    /* Cores */
    &.color-divider-1 {
      border-top-color: $color-border-1;
      border-left-color: $color-border-1;
    }
  
    &.color-divider-2 {
      border-top-color: $color-border-2;
      border-left-color: $color-border-2;
    }
  
    &.color-divider-3 {
      border-top-color: $color-border-3;
      border-left-color: $color-border-3;
    }
  
    /* Margens */
    @for $i from 4 through 64 {
      &.margin-#{$i} {
        margin: #{$i}px;
      }
    }
  }
  