@import 'mixins';

.modal__dialog {
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: $zindex-modal-overlay;
  display: flex;

  .modal {
    position: relative;
    margin: auto;
    width: 592px;
    height: 368px;
    border-radius: 8px;
    background: $color-neutral-light-snow;
    box-shadow: $shadow-box;
    overflow: hidden;
    padding: 32px;
    display: flex;
    flex-direction: column;

    .close-button {
      color: $color-neutral-dark-rooftop;
      align-self: flex-end;
      margin-bottom: 16px;
      cursor: pointer;
    }

  }

  &--open {
    opacity: 1;
    visibility: visible;
  }
}
