@import "mixins";

$select-option-padding: 8px;
$select-option-left: 12px;

.select-option {
  width: 100%;
  @include no-select();
  cursor: pointer;
  background-color: $color-snow-white;
  padding: $select-option-padding;
  padding-left: $select-option-left;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;

  &__value {
    color: $color-neutral-dark-city;
  }

  &__bulk {
    color: $color-neutral-medium-cloud;
  }

  &:hover {
    background-color: $color-neutral-light-whisper;
    color: $color-neutral-dark-city;
  }

  &:focus {
    background-color: $color-neutral-select-background;
    color: $color-primary-main;
  }

  &:active > &__value,
  &:active > &__bulk {
    background-color: $color-neutral-select-background;
    color: $color-primary-main;
  }

  &--selected,
  &--selected > &__value,
  &--selected > &__bulk {
    background-color: $color-neutral-select-background;
    color: $color-primary-main;
  }

  &--disabled,
  &--disabled > &__value,
  &--disabled > &__bulk {
    &:hover {
      background-color: $color-snow-white;
    }

    cursor: not-allowed;
    color: $color-neutral-medium-silver;
  }
}
