@import 'mixins';

$select-option-padding: 8px;
$select-option-left: 12px;

.select-option {
  width: 100%;
  @include no-select();
  cursor: pointer;
  background-color: $color-neutral-light-snow;
  padding: $select-option-padding;
  padding-left: $select-option-left;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  outline: none;

  &--selected {
    .select-option__container--value {
      color: $color-primary-main;
    }
  }

  &--disabled {
    .select-option__container--value,
    .select-option__container--bulk {
      &:hover {
        background-color: $color-neutral-light-snow;
      }

      cursor: not-allowed;
      color: $color-neutral-medium-silver;
    }
  }

  ::slotted(bds-icon) {
    margin-right: 10px;
  }

  &__container {
    color: $color-neutral-dark-city;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--bulk {
      color: $color-neutral-medium-cloud;
    }

    &:hover > &--value,
    &:hover > &--bulk {
      background-color: $color-neutral-light-whisper;
      color: $color-primary-main;
    }

    &:active > &--value,
    &:active > &--bulk {
      color: $color-primary-main;
    }
  }

  &:hover {
    background-color: $color-neutral-light-whisper;
  }

  &:focus {
    background-color: $color-hover-light;
    color: $color-primary-main;
  }

  &--selected {
    background-color: $color-hover-light;
  }

  &--invisible {
    display: none;
  }
}
