@import 'mixins';

$select-option-padding: 8px;
$select-option-left: 12px;

.select-option {
  width: 100%;
  @include no-select();
  cursor: pointer;
  background-color: $color-surface-1;
  padding: $select-option-padding;
  padding-left: $select-option-left;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  outline: none;

  &--selected {
    .select-option__container--value {
      color: $color-primary;
    }
  }

  &--disabled {
    .select-option__container--value,
    .select-option__container--bulk {
      &:hover {
        background-color: $color-surface-1;
      }

      cursor: not-allowed;
      color: $color-content-disable;
    }
  }

  ::slotted(bds-icon) {
    margin-right: 10px;
  }

  &__container {
    color: $color-content-default;
    display: flex;
    flex-direction: column;

    &__fill_space {
      width: 100%;
    }

    &--bulk,
    &--status {
      color: $color-content-ghost;
    }
    &--status {
      margin-left: 4px;
    }

    &__overflow {
      overflow: hidden;
      padding-right: 16px;
    }

    &:hover > &--value,
    &:hover > &--bulk,
    &:hover > &--status {
      color: $color-primary;
    }

    &:active > &--value,
    &:active > &--bulk,
    &:active > &--status {
      color: $color-primary;
    }
  }

  &:hover {
    background-color: $color-surface-2;
  }

  &:focus {
    background-color: $color-surface-2;
    color: $color-primary-main;
  }

  &--selected {
    background-color: $color-surface-2;
  }

  &--invisible {
    display: none;
  }
}
