.menuaction {
  position: relative;

  &__button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    background-color: $color-surface-1;
    border: 0;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;

    &__activeicleft {
      grid-template-columns: auto 1fr;
    }

    &__activeicright {
      grid-template-columns: 1fr auto;
    }

    &__activeicleftright {
      grid-template-columns: auto 1fr auto;
    }

    & .icon-item {
      color: $color-content-default;
    }
    & .content-item {
      width: 100%;
      color: $color-content-default;
      display: flex;
      flex-direction: column;
    }

    & .arrow {
      color: $color-content-default;
    }

    &__lipstick {
      & .icon-item {
        color: $color-extend-reds-lipstick;
      }
      & .content-item {
        color: $color-extend-reds-lipstick;
      }
      & .arrow {
        color: $color-extend-reds-lipstick;
      }
    }

    &:hover {
      background-color: $color-surface-2;
    }
  }

  &__submenu {
    position: absolute;
    pointer-events: none;
    display: block;
    padding: 2px;
    background-color: $color-surface-1;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(7, 71, 166, 0.12);
    min-width: 196px;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;

    &__open {
      pointer-events: auto;
      opacity: 1;
    }
  }

  &.position-right {
    & .menuaction__button {
      & .icon-item {
        order: 0;
      }
      & .content-item {
        order: 1;
      }
      & .arrow {
        order: 2;
      }
    }
    & .menuaction__submenu {
      top: -2px;
      left: 100%;
    }
  }

  &.position-left {
    & .menuaction__button {
      & .icon-item {
        order: 1;
      }
      & .content-item {
        order: 2;
      }
      & .arrow {
        order: 0;
      }
    }
    & .menuaction__submenu {
      top: -2px;
      right: 100%;
    }
  }
}
