:host(.theme--light) {
  width: 100%;
  height: 100%;

  @import '../../globals/theme/theme-light.scss';
  @import '../../globals/theme/extended-colors.scss';
  --color-brand: #0096fa;
  --color-primary: #1968f0;
  --color-secondary: #1f1f1f;
  --color-surface-1: #ffffff;
  --color-surface-2: #f3f6fa;
  --color-surface-3: #e7edf4;
  --color-surface-4: #202c44;
  --color-content-default: #292929;
  --color-content-disable: #666666;
  --color-content-ghost: #a3a3a3;
  --color-content-bright: #ffffff;
  --color-content-din: #000000;
  --color-info: #c5d9fb;
  --color-system: #0096fa;
  --color-focus: #c226fb;
  --color-success: #84ebbc;
  --color-warning: #fde99b;
  --color-error: #f67979;
  --color-delete: #e60f0f;
  --color-extended-blue: #1968F0;
  --color-extended-ocean: #00D3E4;
  --color-extended-green: #35DE90;
  --color-extended-yellow: #FBCF23;
  --color-extended-orange: #F06305;
  --color-extended-red: #E60F0F;
  --color-extended-pink: #FB4BC1;
  --color-extended-gray: #666666;
}
:host(.theme--dark) {
  width: 100%;
  height: 100%;

  @import '../../globals/theme/theme-dark.scss';
  @import '../../globals/theme/extended-colors.scss';
  --color-brand: #0096fa;
  --color-primary: #1968f0;
  --color-secondary: #0096fa;
  --color-surface-1: #292929;
  --color-surface-2: #1f1f1f;
  --color-surface-3: #141414;
  --color-surface-4: #0a0a0a;
  --color-content-default: #ffffff;
  --color-content-disable: #a3a3a3;
  --color-content-ghost: #666666;
  --color-content-bright: #ffffff;
  --color-content-din: #000000;
  --color-info: #c5d9fb;
  --color-system: #0096fa;
  --color-focus: #c226fb;
  --color-success: #84ebbc;
  --color-warning: #fde99b;
  --color-error: #f67979;
  --color-delete: #e60f0f;
  --color-extended-blue: #1968F0;
  --color-extended-ocean: #00D3E4;
  --color-extended-green: #35DE90;
  --color-extended-yellow: #FBCF23;
  --color-extended-orange: #F06305;
  --color-extended-red: #E60F0F;
  --color-extended-pink: #FB4BC1;
  --color-extended-gray: #666666;
  
}
