@import 'mixins';

:host {
  display: block;
}

.loading_bar {
  box-sizing: border-box;
  position: relative;
  border-radius: 32px;
  border: 1px solid $color-neutral-medium-elephant;
  margin-bottom: 8px;

  &.size_small {
    height: 8px;
    .bar_behind {
      & .loading {
        border-radius: 1px;
      }
    }
  }

  &.size_default {
    height: 16px;
    .bar_behind {
      & .loading {
        border-radius: 2px;
      }
    }
  }

  .bar_behind {
    position: absolute;
    inset: 0.5px 1px 1px 0.5px;
    border-radius: 16px;
    overflow: hidden;

    & .loading {
      position: absolute;
      height: 100%;
      background-color: $color-primary-main;
      @include animation();
      overflow: hidden;

      & .loader {
        position: absolute;
        left: -16px;
        width: calc(100% + 16px);
        height: 100%;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0) 75%,
          rgba(0, 0, 0, 0.26) 75%
        );
        background-size: 4px;
        transform: skewX(-15deg);
        animation-name: load;
        animation-timing-function: linear;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
      }
    }
  }
}

.typo_loading {
  padding-left: 8px;
  padding-right: 8px;
  color: $color-neutral-dark-suit;
}

@keyframes load {
  from {
    left: -16px;
  }
  to {
    left: 0;
  }
}
