$color-extended-blue: rgba(25, 104, 240, 1);
$color-extended-ocean: rgba(0, 211, 228, 1);
$color-extended-green: rgba(53, 222, 144, 1);
$color-extended-yellow: rgba(251, 207, 35, 1);
$color-extended-orange: rgba(240, 99, 5, 1);
$color-extended-red: rgba(230, 15, 15, 1);
$color-extended-pink: rgba(251, 75, 193, 1);
$color-extended-gray: rgba(102, 102, 102, 1);
