@import 'resets';

$icon-button-border-radius: 8px;
$icon-button-padding: 8px;

@mixin size-buttom($size) {
  width: $size;
  height: $size;
}

@mixin disable-button( $color: null, $border: null) {
  opacity: 50%;
  pointer-events: none;
  cursor: not-allowed;

  @if ($color) {
    color: $color;
  }

  @if ($border) {
    border: $border;
  }

  &:hover,
  &:active {

    @if ($color) {
      color: $color;
    }

    @if ($border) {
      border: $border;
    }
  }
}

@mixin icon-button-primary {
  background: $color-primary;

  .bds-icon {
    color: $color-content-bright;
  }

  &--disabled {
    @include disable-button($color-disabled-bg, $color-disabled-text);
  }
}

@mixin icon-button-secondary {
  color: $color-content-default;
  background: transparent;

  .bds-icon {
    color: $color-content-default;
  }

  &--disabled {
    @include disable-button(transparent, $color-disabled-text);
  }
}

@mixin icon-button-secondary-white {
  background: transparent;
  color: $color-neutral-light-snow;

  &:hover,
  &:focus {
    background: rgba($color-neutral-light-snow, 0.3);
    color: $color-neutral-light-snow;
  }

  &:active {
    background: rgba($color-neutral-light-snow, 0.4);
    color: $color-neutral-light-snow;
  }

  &--disabled {
    cursor: not-allowed;
    color: $color-disabled-text;
    background: $color-disabled-bg;
  }
}

@mixin icon-button-delete {
  background: $color-delete;

  .bds-icon {
    color: $color-content-bright;
  }

  &--disabled {
    @include disable-button( $color-disabled-wrong);
  }
}

@mixin icon-button-tertiary {
  background: transparent;
  border: 1px solid $color-border-1;

  .bds-icon {
    color: $color-content-default;
  }

  &--disabled {
    @include disable-button( $color-disabled-text, 1px solid $color-disabled-text);
  }
}

@mixin icon-button-ghost {
  background: transparent;
  border: 1px solid $color-border-1;

  .bds-icon {
    color: $color-content-default;
  }

  &--disabled {
    @include disable-button( $color-disabled-text, 1px solid $color-disabled-text);
  }
}

.icon__button {
  @include reset-button();
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

  border-radius: $icon-button-border-radius;
  padding: $icon-button-padding;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 0;
    border-radius: $icon-button-border-radius;
  }
  &:hover {
    &::before {
      background-color: $color-hover;
    }
  }

  &:active {
    &::before {
      background-color: $color-pressed;
    }
  }

  & * {
    pointer-events: none;
  }

  &--primary {
    @include icon-button-primary();
  }

  &--secondary {
    @include icon-button-secondary();
  }

  &--tertiary {
    @include icon-button-tertiary();
  }

  &--ghost {
    @include icon-button-ghost();
  }

  &--secondary-white {
    @include icon-button-secondary-white();
  }

  &--delete {
    @include icon-button-delete();
  }

  &.size-tall {
    @include size-buttom(56px);
  }
  &.size-standard {
    @include size-buttom(48px);
  }
  &.size-short {
    @include size-buttom(40px);
  }
}
