@use '../../globals/helpers' as *;

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $color-surface-4;
  opacity: 0.65;
  mix-blend-mode: multiply;
}

.page_loading {
  animation: growUp 0.8s ease-in-out infinite;
  width: 116px;
  height: 128px;
  color: $color-surface-1;
}

@keyframes growUp {
  from {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}
