@import 'mixins';

$checkbox-size: 18px;
$checkbox-icon-radius: 4px;
$checkbox-spacing-text: 8px;

.checkbox {
  display: inline;

  input[type='checkbox'] {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
    &:focus {
      outline: 0;
    }
  }

  &__icon {
    background: $color-neutral-light-snow;

    &:hover {
      border-color: $color-primary-dark;
    }
  }

  &--selected {
    .checkbox__icon {
      background-color: $color-primary-main;

      &:hover {
        background-color: $color-primary-dark;
      }
    }
  }

  &--selected-disabled {
    .checkbox__label {
      cursor: not-allowed;
    }

    .checkbox__icon {
      color: $color-disabled-text;
      border: 1px solid $color-disabled-text;
      background-color: $color-disabled-bg;
    }
  }

  &--deselected {
    .checkbox__icon__svg {
      display: none;
    }
  }

  &--deselected-disabled {
    .checkbox__label {
      cursor: not-allowed;
    }

    .checkbox__icon {
      background-color: $color-disabled-bg;
      border: 1px solid $color-disabled-text;
    }

    .checkbox__icon__svg {
      display: none;
    }
  }

  &__label {
    @include no-select();
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: fit-content;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $checkbox-size;
    width: $checkbox-size;
    border-radius: $checkbox-icon-radius;
    color: $color-neutral-light-breeze;
    border: 1px solid $color-primary-main;
    box-sizing: border-box;
    border-radius: 4px;
    @include animation();
  }

  &__text {
    margin-left: $checkbox-spacing-text;
    color: $color-neutral-dark-rooftop;
  }
}
