.checkbox-wrapper {
  display: inline;

  label {
    padding: 0;
    margin: 0;
  }

  input[type="checkbox"] {
    display: none;
  }

  i {
    color: $color-primary-main;
    font-size: $fs-12;
    line-height: 100%;

    &.disabled {
      color: green;
    }
  }

  i:hover {
    color: green;
    &.disabled {
      color: yellow;
    }
  }
}
