@import 'mixins';

$checkbox-size: 18px;
$checkbox-icon-radius: 4px;
$checkbox-spacing-text: 8px;

.checkbox {
  display: inline;

  input[type='checkbox'] {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
    &:focus {
      outline: 0;
    }
  }

  &__icon {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: -4px;
      border: 2px solid transparent;
      border-radius: 4px;
    }

    &:focus-visible {
      outline: none;

      &::before {
        border-color: $color-focus;
      }
    }

    &:hover {
      border-color: $color-brand;
    }
  }

  &--selected {
    .checkbox__icon {
      background-color: $color-surface-primary;
      border-color: $color-surface-primary;

      &__svg {
        color: $color-content-bright;
      }

      &:hover {
        background-color: $color-brand;
      }
    }
  }

  &--selected-disabled {
    .checkbox__label {
      cursor: not-allowed;
    }

    .checkbox__icon {
      color: $color-content-default;
      border-color: $color-content-default;
      background-color: $color-surface-3;
      opacity: 50%;
    }
    .checkbox__text {
      opacity: 50%;
    }
  }

  &--deselected {
    .checkbox__icon__svg {
      display: none;
    }
  }

  &--deselected-disabled {
    .checkbox__label {
      cursor: not-allowed;
    }

    .checkbox__icon {
      opacity: 50%;
      background-color: $color-surface-1;
      border: 1px solid $color-brand;
    }

    .checkbox__icon__svg {
      display: none;
    }
  }

  &__label {
    @include no-select();
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: fit-content;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $checkbox-size;
    width: $checkbox-size;
    min-width: 18px;
    border-radius: $checkbox-icon-radius;
    color: $color-surface-1;
    border: 1px solid $color-content-default;
    box-sizing: border-box;
    border-radius: 4px;
    @include animation();
  }

  &__text {
    margin-left: $checkbox-spacing-text;
    color: $color-content-default;
  }
}
