@use '../../globals/helpers' as *;

.sidebar_dialog {
  width: 100%;
  height: 100vh;
  box-shadow: $shadow-2;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  display: none;

  &.type_over {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal-overlay;
    .sidebar {
      z-index: $zindex-modal;
    }
  }

  &.type_fixed {
    width: fit-content;
    position: relative;
    height: 100%;
    box-shadow: none;
  }

  &.is_open {
    display: flex;
    opacity: 1;
    visibility: visible;
  }

  & .outzone {
    order: 2;
    width: 100%;
    height: 100vh;
  }
  .sidebar {
    width: 360px;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: $color-surface-2;
    flex-shrink: 0;

    &.position_left {
      order: 1;
    }

    &.position_right {
      order: 3;
    }

    &.background_surface-1 {
      background-color: $color-surface-1;
    }
    &.background_surface-2 {
      background-color: $color-surface-2;
    }
    &.background_surface-3 {
      background-color: $color-surface-3;
    }
    &.background_surface-4 {
      background-color: $color-surface-4;
    }

    &.type_fixed {
      width: 288px;
    }

    & .header {
      display: flex;
      align-content: center;
      justify-content: space-between;
      padding: 24px;

      & .content {
        display: flex;
        width: 100%;
        align-items: center;
        position: relative;
        color: $color-content-default;

        ::slotted(*) {
          width: 100%;
        }
      }
      & .closeButton {
        border-radius: 8px;
        contain: inherit;
        -webkit-transition:
          height 0.5s,
          all 0.3s;
        -moz-transition:
          height 0.5s,
          all 0.3s;
        transition:
          height 0.5s,
          all 0.3s;
        z-index: 1;
        cursor: pointer;
        color: $color-content-default;
      }
    }

    & .body {
      position: relative;
      flex: 1 1 auto;
      & .content {
        position: absolute;
        inset: 0;
        z-index: 999999;
        overflow-y: overlay;
        overflow-x: clip;
        @include custom-scroll;
      }
      & .margin {
        padding: 8px 24px;
      }
    }

    & .footer {
      & .content {
        padding: 24px;

        ::slotted(*) {
          height: 40px;
          overflow: hidden;
        }
      }
    }
    &.is_open {
      &.position_left {
        right: calc(100% - 360px);
      }
      &.position_right {
        left: calc(100% - 360px);
      }
    }
  }
}
