:host {
  display: block;
}
.expansion-content {
  display: flex;
  padding-left: 22px;


  .with-line {
    border-left: 2px solid $color-neutral-medium-cloud;
    padding-left: 9px;
    padding-top: 16px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-neutral-medium-cloud;
    position: relative;
    right: 14px;
  }

  .text{
    right: 28px;
    width: 37px;
    height: 30px;
    position: relative;
    background: $color-neutral-medium-wave;
    justify-content: center;
    border-radius: 8px;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: $color-neutral-dark-city;
    top: 10px ;
  }
}
