@use '../../../globals/helpers' as *;

.modal__close__button-icon {
  opacity: 0;
  visibility: hidden;
  color: $color-content-default;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}
