:host {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  font-family: $font-family;
  font-weight: 600;
}

:host(.chip) {
  border-radius: 8px;
  padding: 3px 8px;
}

:host(.chip--primary) {
  background: $color-disabled-bg;
  color: $color-primary-main;
}

:host(.chip--click.chip--primary:hover) {
  background: $color-hover-light;
  color: $color-primary-dark;
}

:host(.chip--watermelon) {
  background: $color-primary-pinks-watermelon;
  color: $color-neutral-light-snow;
}

:host(.chip--default) {
  background: $color-neutral-light-breeze;
  color: $color-neutral-medium-cloud;
}

:host(.chip--danger) {
  background: $color-extend-reds-flower;
  color: $color-extend-reds-delete;
}

:host(.chip--click.chip--danger:hover) {
  background: $color-disabled-delete;
  color: $color-extend-reds-dragon;
}

:host(.chip--filter) {
  background: $color-primary-dark;
  color: $color-neutral-light-snow;
  
}

:host(.chip--click.chip--filter:hover) {
  background: $color-primary-night;
  color: $color-neutral-light-snow;
}

:host(.chip--standard) {
  height: 24px;
  font-size: $fs-12;
}

:host(.chip--tall) {
  height: 32px;
  font-size: $fs-14;
}

.chip__delete {
  display: inline-flex;
  align-items: center;
  padding-left: 6px;
  cursor: pointer;
}

.chip__icon {
  display: inline-flex;
  align-items: center;
  padding-right: 4px;
}
