:host {
    display: table;
    padding: 16px;
    border-spacing: 0px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: $color-surface-1;
    border: 1px solid $color-border-1;
  }
  