:host {
  width: 100%;
  border-radius: 8px;
  background-color: $color-surface-1;
  border: 1px solid $color-border-3;
}
.bds-table {
  display: table;
  width: 100%;
  border-spacing: 0px;
  box-sizing: border-box;
  border-collapse: collapse;
}
