:host {
  display: block;

  .table {
    display: grid;
    font-family: $font-family;
    color: $color-neutral-dark-city;
    width: 100%;
    border: 1px solid $color-neutral-medium-wave;
    border-radius: 8px;
    overflow-x: auto;
    padding: 16px;
    background-color: $color-neutral-light-snow;

    .thead {
      border-bottom: 2px solid $color-neutral-medium-wave;
      padding: 8px 16px;
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        gap: 16px;
        .header-title {
          height: 48px;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;
          
          .title-click {
            cursor: pointer;
          }
          .header-icon {
            color: color-neutral-dark-city;
          }
        }
      }
    }

    .body-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      padding: 0px 8px;
      gap: 16px;
      border-bottom: 1px solid $color-neutral-light-box;

      .body-item {
        height: 48px;
        width: 100%;
        gap: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}
