$avatar-size-micro: 24px;
$avatar-size-extra-small: 32px;
$avatar-size-small: 40px;
$avatar-size-standard: 56px;
$avatar-size-large: 64px;
$avatar-size-extra-large: 72px;

:host {
  position: relative;
  display: block;
  width: fit-content;
}
.avatar {
  border-radius: 40px;
  border: 1px solid $color-border-2;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  appearance: none;
  height: 100%;

  &__ellipsis {
    color: $color-surface-1;
  }
  &__text {
    color: $color-content-default;
  }

  &__icon {
    color: $color-content-default;
  }

  &__btn {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    
    &::before {
      content: '';
      position: absolute;
      inset: -4px;
      border: 2px solid transparent;
      border-radius: 4px;
    }

    &:focus-visible {
      outline: none;

      &::before {
        border-color: $color-focus;
      }
    }

    &__img {
      background-position: center;
      background-size: cover;
    }

    &__text {
      color: $color-content-din;
      opacity: 1;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
    }

    &__icon {
      color: $color-content-din;
      opacity: 1;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
    }

    &__thumb {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: $color-content-default;
        opacity: 0;
        transition: all 0.5s;
      }

      &__icon {
        color: $color-surface-1;
        opacity: 0;
        transition: all 0.5s;
      }
    }

    &__name {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      cursor: pointer;
      opacity: 0;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;

      &__icon {
        color: $color-content-din;
      }
    }

    &__empty {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      cursor: pointer;
      opacity: 0;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;

      &__icon {
        color: $color-content-din;
      }
    }
  }

  &__size {
    &--micro {
      width: $avatar-size-micro;
      height: $avatar-size-micro;
      min-width: $avatar-size-micro;
      min-height: $avatar-size-micro;
    }
    &--extra-small {
      width: $avatar-size-extra-small;
      height: $avatar-size-extra-small;
      min-width: $avatar-size-extra-small;
      min-height: $avatar-size-extra-small;
    }
    &--small {
      width: $avatar-size-small;
      height: $avatar-size-small;
      min-width: $avatar-size-small;
      min-height: $avatar-size-small;
    }
    &--standard {
      width: $avatar-size-standard;
      height: $avatar-size-standard;
      min-width: $avatar-size-standard;
      min-height: $avatar-size-standard;
    }
    &--large {
      width: $avatar-size-large;
      height: $avatar-size-large;
      min-width: $avatar-size-large;
      min-height: $avatar-size-large;
    }
    &--extra-large {
      width: $avatar-size-extra-large;
      height: $avatar-size-extra-large;
      min-width: $avatar-size-extra-large;
      min-height: $avatar-size-extra-large;
    }
  }

  &__color {
    &--system {
      background-color: $color-system;
    }
    &--warning {
      background-color: $color-warning;
    }
    &--success {
      background-color: $color-success;
    }
    &--info {
      background-color: $color-info;
    }
    &--error {
      background-color: $color-error;
    }
    &--surface {
      background-color: $color-surface-3;
      color: $color-content-disable;
    }
  }

  &:hover {
    .avatar {
      &__btn {
        &__thumb {
          &:before {
            opacity: 0.5;
          }
          &__icon {
            opacity: 1;
          }
        }
        &__text {
          opacity: 0;
        }
        &__icon {
          opacity: 0;
        }
        &__name {
          opacity: 1;
        }
        &__empty {
          opacity: 1;
        }
      }
    }
  }
}

.focus:focus-visible {
  display: flex;
  position: absolute;
  border: 2px solid $color-focus;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  top: -4px;
  left: -4px;
  padding-right: 4px;
  padding-bottom: 4px;
  outline: none;
}
