@import 'mixins';

$menu-list-item-width: 76px;
$menu-list-item-height: 56px;

:host {
  display: flex;
  flex: 1;
}

.menu-list-item {
  background-color: $color-neutral-light-snow;
  color: currentColor;

  cursor: pointer;
  width: $menu-list-item-width;
  height: $menu-list-item-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include no-select();

  &:hover,
  &:hover > &__text {
    background-color: $color-neutral-light-whisper;
    color: $color-primary-main;
  }

  &:active,
  &:active > &__text {
    background-color: $color-hover-light;
    color: $color-primary-main;
  }

  &:focus,
  &:focus > &__text {
    background-color: $color-neutral-light-whisper;
    color: $color-primary-main;
  }

  &__text {
    color: $color-neutral-medium-cloud;
  }
}
