@use '../../../globals/helpers' as *;

.menuexibition {
  display: flex;
  align-items: center;
  padding: 16px;

  &__disabled {
    opacity: 0.5;
    cursor: no-drop;
  }

  & .avatar-item {
    display: block;
    margin-right: 8px;
  }

  & .content-item {
    width: 100%;
    display: flex;
    flex-direction: column;

    & .title-item {
      color: $color-content-default;
    }

    & .subtitle-item {
      color: $color-content-disable;
    }

    & .description-item {
      color: $color-content-default;
    }
  }
}
