$tooltip-horizontal-margin: 10px;
$tooltip-border-width: 6px;

.tooltip {
  &__wrapper {
    display: inline-block;
    position: relative;
  }

  &__tip {
    position: absolute;
    left: 50%;
    border-radius: 8px;
    padding: 8px;
    color: $color-neutral-light-snow;
    background: $color-neutral-dark-eclipse;
    z-index: $zindex-dropdown;
    white-space: normal;
    width: max-content;
    min-width: 32px;
    max-width: 320px;
    filter: drop-shadow($shadow-drop);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    cursor: default;
    &--visible {
      opacity: 1;
    }

    &::before {
      content: '';
      left: 50%;
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      margin-left: -$tooltip-border-width;
      border-width: $tooltip-border-width;
    }

    &--top-center,
    &--top-left,
    &--top-right {
      bottom: calc(100% + 10px);
      &::before {
        top: 100%;
        border-top-color: $color-neutral-dark-eclipse;
      }
    }

    &--top-left {
      left: 0;
      &::before {
        left: calc(15% + #{$tooltip-border-width});
      }
    }

    &--top-right {
      left: initial;
      right: 0;
      &::before {
        left: calc(85% - #{$tooltip-border-width});
      }
    }

    &--bottom-center,
    &--top-center {
      transform: translateX(-50%);
    }

    &--left-center,
    &--right-center {
      transform: translateX(0) translateY(-50%);
    }

    &--right-center,
    &--right-top,
    &--right-bottom {
      left: calc(100% + #{$tooltip-horizontal-margin});
      top: 50%;
      &::before {
        left: -6px;
        top: 50%;
        transform: translateX(0) translateY(-50%);
        border-right-color: $color-neutral-dark-eclipse;
      }
    }

    &--right-top {
      top: 0;
      &::before {
        top: 40%;
      }
    }

    &--right-bottom {
      top: initial;
      bottom: 0;
      &::before {
        top: 60%;
      }
    }

    &--bottom-center,
    &--bottom-right,
    &--bottom-left {
      top: calc(100% + 10px);
      &::before {
        bottom: 100%;
        border-bottom-color: $color-neutral-dark-eclipse;
      }
    }

    &--bottom-right {
      left: initial;
      right: 0;
      &::before {
        left: calc(85% - #{$tooltip-border-width});
      }
    }

    &--bottom-left {
      left: 0;
      &::before {
        left: calc(15% + #{$tooltip-border-width});
      }
    }

    &--left-center,
    &--left-top,
    &--left-bottom {
      left: auto;
      right: calc(100% + #{$tooltip-horizontal-margin});
      top: 50%;
      &::before {
        left: auto;
        right: -12px;
        top: 50%;
        transform: translateX(0) translateY(-50%);
        border-left-color: $color-neutral-dark-eclipse;
      }
    }

    &--left-top {
      top: 0;
      &::before {
        top: 40%;
      }
    }

    &--left-bottom {
      top: initial;
      bottom: 0;
      &::before {
        top: 60%;
      }
    }
  }
}
