.input__editable {
  display: table;

  &--static {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      .input__editable--static__typo {
        border: 1px solid $color-primary-main;
      }

      .input__editable--static__icon {
        color: $color-primary-main;
      }
    }

    &__typo {
      border: 1px solid transparent;
      margin: 0;
      padding: 8px;
      border-radius: 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 80%;
    }

    &__icon {
      margin-left: 8px;
      color: $color-neutral-medium-cloud;
    }
  }

  &--active {
    display: flex;
    align-items: flex-start;

    bds-input {
      min-width: 120px;
      max-width: 140px;
      margin-right: 4px;

      &::part(input) {
        font-size: $fs-24;
        line-height: 0px;
      }

      &::part(input-container) {
        padding: 4px 4px 5px 12px;
      }

      &::part(input__message) {
        min-width: 180px;
      }
    }

    bds-icon {
      cursor: pointer;
    }

    &__icon {
      display: flex;
      align-items: center;
      height: 40px;

      &--error {
        color: $color-extend-reds-delete;

        &:hover {
          color: $color-extend-reds-lipstick;
        }
      }

      &--checkball {
        color: $color-primary-main; 

        &:hover {
          color: $color-primary-dark;
        }

        &--error {
          color: $color-disabled-bg;

          &:hover {
            color: $color-disabled-bg;
          }
        }
      }
    }
  }

  &--hidden {
    display: none;
  }
}
