@import 'resets';
@import 'mixins';

$input-padding: 8px 4px 9px 12px;
$input-padding-label: 7px 4px 8px 12px;
$input-width: 100%;

$input_expanded: 100%;
$input_fixed: 140px;

@mixin input-text {
  font-family: $font-family;
  font-size: $fs-14;
  line-height: $line-hight-plus;
}

@mixin input-border($color, $boxShadow: false) {
  border: 1px solid $color;
  box-sizing: border-box;
  border-radius: 8px;

  @if ($boxShadow) {
    -webkit-box-shadow: 0 0 0 2px $boxShadow;
    box-shadow: 0 0 0 2px $boxShadow;
  }
}

@mixin input-theme($name, $primary, $secondary, $label, $text, $border, $hover, $focus) {
  $color-input-primary: $primary;
  $color-input-secondary: $secondary;
  $color-input-label: $label;
  $color-input-text: $text;
  $color-input-border: $border;
  $color-input-hover: $hover;
  $color-input-focus: $focus;

  @include input-border($color-input-border);

  @if ($name == 'disabled') {
    background: $color-surface-3;
  }

  // States
  &:hover {
    @include input-border($color-input-primary);

    @if ($name == 'disabled') {
      @include input-border($color-input-border);
    }
  }

  &.input--pressed {
    @include input-border($color-input-primary, $color-input-focus);
  }

  .input__icon {
    background-color: $color-input-secondary;
  }

  .input__container__label {
    color: $color-input-label;

    &--pressed {
      color: $color-input-primary;
    }
  }

  .input__container__text {
    caret-color: $color-input-primary;
    color: $color-input-text;
  }
}

@mixin part_input_font_size($value) {
  font-size: $value;
  line-height: 0px;
}

@mixin input_max_width() {
  &.expanded {
    max-width: $input_expanded;
  }

  &.fixed {
    max-width: $input_fixed;
  }
}

.element_input {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  input,
  textarea {
    box-shadow: inherit;
    &::placeholder {
      color: $color-content-ghost;
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      color: $color-content-ghost;
      opacity: 1;
    }
  }
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $input-padding;

  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  background: $color-surface-1;

  &--state {
    &-primary {
      @include input-theme(
        'primary',
        $color-primary,
        $color-surface-3,
        $color-content-default,
        $color-content-default,
        $color-surface-3,
        $color-primary,
        $color-info
      );
    }

    &-danger {
      @include input-theme(
        'danger',
        $color-delete,
        $color-error,
        $color-delete,
        $color-delete,
        $color-delete,
        $color-delete,
        $color-error
      );
    }

    &-disabled {
      opacity: 50%;
      pointer-events: none;
      cursor: not-allowed;
      @include input-theme(
        'disabled',
        $color-primary,
        $color-surface-3,
        $color-content-default,
        $color-content-default,
        $color-surface-3,
        $color-primary,
        $color-info
      );
    }
  }

  &--label {
    padding: $input-padding-label;
  }

  &__icon {
    cursor: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 8px;
    padding: 2.5px;

    &--large {
      padding: 4px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__wrapper__chips {
      @include custom-scroll();
      display: inline;
      max-height: 100px;
      overflow: auto;
    }

    &__label {
      display: flex;
      align-items: center;
    }

    &__text {
      @include reset-input();
      @include input-text();
      @include custom-scroll();

      resize: none;
      cursor: inherit;
    }
  }

  &__message {
    display: flex;
    align-items: baseline;
    height: 20px;
    margin: 3.7px 2.5px;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: $color-content-disable;
    word-break: break-word;
    height: auto;
    min-height: 20px;
    bds-typo {
      margin-top: 0px;
      align-self: self-start;
    }

    &__icon {
      display: flex;
      padding-right: 4px;
      margin-top: 0px;
      padding-top: 2px;
    }

    &--danger {
      .bds-icon {
        color: $color-delete;
      }
      .input__message__text {
        color: $color-delete;
      }
    }
  }
}

.input__editable {
  display: block;

  &--static {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      .input__editable--static__typo {
        border: 1px solid $color-primary;
      }

      .input__editable--static__icon {
        color: $color-primary;
      }
    }

    &__typo {
      border: 1px solid transparent;
      margin: 0;
      padding: 8px;
      border-radius: 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 80%;
      color: $color-content-default;
    }

    &__icon {
      margin-left: 8px;
      color: $color-content-ghost;
    }
  }

  &--active {
    display: flex;
    align-items: flex-start;

    .element_input {
      min-width: 120px;
      margin-right: 4px;

      @include input_max_width();

      &.short input {
        @include part_input_font_size($fs-16);
      }
      &.standard input {
        @include part_input_font_size($fs-24);
      }
      &.tall input {
        @include part_input_font_size($fs-40);
      }

      &::part(input-container) {
        padding: 4px 4px 5px 12px;
      }

      &::part(input__message) {
        min-width: 180px;
      }
    }

    bds-icon {
      cursor: pointer;
    }
    &__icon {
      display: flex;
      align-items: center;
      margin: auto 0;

      &--error {
        color: $color-delete;

        &:hover {
          color: $color-delete;
        }
      }

      &--checkball {
        color: $color-primary;

        &:hover {
          color: $color-primary;
        }

        &--error {
          color: $color-content-ghost;

          &:hover {
            color: $color-content-ghost;
          }
        }
      }
    }
  }

  &--hidden {
    display: none;
  }
}
