@import 'mixins';

.counter-text {
  background: $color-surface-2;
  color: $color-content-disable;
  box-sizing: content-box;
  width: fit-content;
  border-radius: 11px;
  padding: 0 8px;

  &--active {
    background: $color-system;
    color: $color-content-din;
  }

  &--warning {
    background: $color-warning;
    color: $color-content-din;
  }

  &--delete {
    background: $color-delete;
    color: $color-content-bright;
  }

  @include no-select;
}
