$vertical-margin: 48px;
$horizontal-margin: 48px;

:host {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: $zindex-toast;
  width: 456px;
  
  &.bottom-right {
    bottom: $vertical-margin;
    right: $horizontal-margin
  }
  
  &.bottom-left {
    bottom: $vertical-margin;
    left: $horizontal-margin;
  }

  &.top-right {
    top: 24px;
    right: 24px;
  }
  
  &.top-left {
    top: $vertical-margin;
    left: $horizontal-margin;
  }

  @media (max-width: $sm-screen) {
    right: 0px;
    left: 0px;
    width: 100%;

    &.top-left,
    &.top-right{
      top: 20px;
    }

    &.bottom-left,
    &.bottom-right{
      bottom: 20px;
    }
  }
}