@use '../../globals/helpers' as *;

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .img-feedback {
    height: 76%;
  }
}

:host(.empty_img) {
  background-color: $color-surface-3;
}
