@use '../../../globals/helpers' as *;

:host {
  display: table-cell;
  padding: 0 8px;
  font-family: $font-family;
  font-size: 14px;
  vertical-align: middle;
}
.cell {
  display: flex;
  align-items: center;
  min-height: 48px;
  margin: 8px 0;
  color: $color-content-default;
  font-family: $font-family;
  flex-direction: row;
  flex-wrap: wrap;
}

.dense_cell {
  margin: 0;
}

.cell_custom {
  gap: 8px;
}

.cell_action {
  flex-direction: row;
  gap: 8px;
}

.justify {
  &--left {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--right {
    justify-content: flex-end;
  }
}

:host:first-child {
  padding-left: 16px;
}

:host:last-child {
  padding-right: 16px;
}