@use '../../globals/helpers' as *;

:host {
  display: flex;
  max-width: 100%;

  .chip_tag {
    display: flex;
    align-items: center;
    min-width: 32px;
    width: fit-content;
    height: 24px;
    border-radius: 12px;
    padding: 0px 4px;
    box-sizing: border-box;

    &--container-text {
      &--full {
        width: 100%;
      }
      &--half {
        width: calc(100% - 16px);
      }
    }

    &--icon {
      display: flex;
      align-items: center;
      width: 16px;
      height: 16px;
    }
    &--text {
      display: flex;
      align-items: center;
      margin: 0 8px;
      font-family: $font-family;
    }
    &--default {
      background-color: $color-system;
      color: $color-content-din;
    }
    &--info {
      background-color: $color-info;
      color: $color-content-din;
    }
    &--success {
      background-color: $color-success;
      color: $color-content-din;
    }
    &--warning {
      background-color: $color-warning;
      color: $color-content-din;
    }
    &--danger {
      background-color: $color-error;
      color: $color-content-din;
    }
    &--outline {
      border: 1px solid $color-border-1;
      color: $color-content-default;
    }
    &--disabled {
      background-color: $color-surface-3;
      color: $color-content-default;
    }
  }
}
