:host {
  display: flex;

  .chip_tag {
    display: flex;
    min-width: 32px;
    width: fit-content;
    height: 24px;
    border-radius: 12px;
    padding: 2px 4px;
    align-items: center;
    box-sizing: border-box;

    &--icon {
    display: flex;
    align-items: center;
    width: 16px;
    height: 20px;
  }
    &--text {
      display: flex;
      align-items: center;
      height: 20px;
      margin: 0 8px;
      font-family: $font-family;
    }
    &--default {
      background-color: $color-system;
      color: $color-content-din;
    }
    &--info {
      background-color: $color-info;
      color: $color-content-din;
    }
    &--success {
      background-color: $color-success;
      color: $color-content-din;
    }
    &--warning {
      background-color: $color-warning;
      color: $color-content-din;
    }
    &--danger {
      background-color: $color-error;
      color: $color-content-din;
    }
    &--outline {
      background-color: $color-surface-1;
      border: 1px solid $color-surface-3;
      color: $color-content-default;
    }
    &--disabled {
      background-color: $color-surface-3;
      color: $color-content-default;
    }
  }
  
}
