:host {
  display: table-cell;
  padding: 0px 8px;
}
.th_cell {
  display: flex;
  align-items: center;
  height: 64px;
  gap: 8px;
  font-family: $font-family;
  box-sizing: border-box;

  &--sortable-true:hover, &--sortable-false:hover  {
    cursor: pointer;
  }
}

.dense-th {
  min-height: 48px;
  height: auto;
}

:host:first-child {
  padding-left: 16px;
}

:host:last-child {
  padding-right: 16px;
}
