bds-tab {
  cursor: pointer;
  color: $color-neutral-medium-cloud;
  text-align: center;

  &:hover {
    color: $color-primary-main;
  }

  .bds-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    min-width: 140px;
    max-width: 270px;
    margin-right: 32px;

    
  &-selected {
    border-bottom: 2px solid $color-primary-main;
    color: $color-primary-main;
  }
  }
}

@media (max-width: 599px) {
  .bds-tab {
    min-width: 100px;
  }
}
