@import 'resets';
@import 'mixins';

.accordion_header {
  display: flex;
  grid-auto-flow: column;
  gap: 24px;
  justify-content: start;
  align-items: center;
  padding: 24px;
  padding-right: 56px;
  position: relative;
  color: $color-content-default;
  cursor: pointer;

  &-size {
    &--small {
      padding: 8px;
    }
    &--medium {
      padding: 16px;
    }
    &--large {
      padding: 24px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  slot {
    display: flex;
    width: 100%;
    flex-shrink: 99999;
  }

  & * {
    position: relative;
    z-index: 1;
  }

  &:hover {
    &::before {
      background-color: $color-content-default;
      opacity: 0.08;
    }
  }

  & .accButton {
    top: calc(50% - 16px);
    border-radius: 8px;
    contain: inherit;
    -webkit-transition:
      height 0.5s,
      all 0.3s;
    -moz-transition:
      height 0.5s,
      all 0.3s;
    transition:
      height 0.5s,
      all 0.3s;
    z-index: 1;

    &__isopen {
      transform: rotate(180deg);
    }

    &::before {
      content: '';
      position: absolute;
      inset: -4px;
      border: 2px solid transparent;
      border-radius: 4px;
    }

    &:focus-visible {
      outline: none;

      &::before {
        border-color: $color-focus;
      }
    }

    &:hover {
      background-color: $color-surface-1;
    }
    &:active {
      background-color: $color-surface-1;
    }
  }
}

.accordion_body {
  height: 0;
  overflow: hidden;
  border-bottom: none;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  transition: height 0.5s;
  @include custom-scroll;

  &_isOpen {
    overflow: overlay;
  }

  &_divisor {
    border-bottom: 1px solid $color-border-1;
  }

  & .container {
    padding: 8px 24px 48px;
    position: relative;
    color: $color-content-default;
  }
}
