:host {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;

  font-family: $font-family;
  font-size: $fs-14;
  font-weight: $font-weight-bold;

  .banner {
    &__holder {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 8px 16px;
      min-height: 40px;
      color: $color-content-din;

      &--context--inside {
        border-radius: 8px;
      }

      &--align--left {
        justify-content: flex-start;
      }

      &--align--right {
        justify-content: flex-start;
      }

      &--warning {
        background-color: $color-warning;
      }

      &--system {
        background-color: $color-system;
      }

      &--info {
        background-color: $color-info;
      }

      &--error {
        background-color: $color-error;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      width: 100%;

      &--left {
        justify-content: flex-start;
      }

      &--center {
        justify-content: flex-start;
      }

      &--right {
        justify-content: flex-start;
      }
      .slot {
        display: flex;
        justify-content: space-between;
        margin-left: 8px;
        width: 100%;
      }
    }

    &__action {
      display: inline-flex;
      align-items: center;

      .close {
        cursor: pointer;
        display: flex;
        margin-left: 8px;
      }
    }
  }
}

.space_left {
  display: flex;
}

:host(.banner--hide) {
  display: none;
}
