:host {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  font-family: $font-family;
  font-size: $fs-14;

  .banner {
    &__holder {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      min-height: 40px;

      color: $color-neutral-light-breeze;
      background: $color-primary-purples-bell;

      &--align--left {
        justify-content: flex-start;
      }

      &--align--right {
        justify-content: flex-end;
      }

      &--warning {
        background-color: $color-neutral-light-box;
        color: $color-neutral-dark-rooftop;
        font-weight: $font-weight-semi-bold;

        bds-icon {
          color: $color-extend-browns-cheetos;
        }
      }

      &--system {
        font-weight: $font-weight-regular;
      }

      @media (max-width: $sm-screen) {
        padding: 16px;
      }

      @media (min-width: $sm-screen) {
        padding: 0 16px;
      }
    }

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;

      &--left {
        justify-content: flex-start;
      }

      &--center {
        justify-content: center;
        align-items: center;
      }

      &--right {
        justify-content: flex-start;
      }

      @media (max-width: $sm-screen) {
        display: inline;
        box-sizing: border-box;
      }

      .icon_warning {
        padding-right: 8px;
      }
    }

    &__action {
      cursor: pointer;
      display: flex;
    }
  }
}

.space_left {
  display: flex;
}

:host(.banner--hide) {
  display: none;
}
