:host {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-primary-ghost;
  background: $color-primary-main;
}

:host(.banner) {
  width: 100%;
  min-height: 40px;
  box-sizing: border-box;
  font-family: $font-family;
  font-size: $fs-14;
  font-weight: $font-weight-semi-bold;

  @media (max-width: $sm-screen) {
    padding: 8px;
  }
}

.banner__content {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $sm-screen) {
    display: inline;
    box-sizing: border-box;
  }
}

:host(.banner--hide) {
  display: none;
}

.banner__action {
  cursor: pointer;
}
